@media only screen and (min-width:1200px) and (max-width:1329px) {
    .Schedule_schedule_background__kukcH .tabsystem{
        width: 100%;
    }
    .satisfied_students .proud_student .comment_student .style_description__YGZMX {
        max-width: 430px;
        font-size: 13px;
        margin: 20px 32px 14px;
    }
    .satisfied_students .proud_student .comment_student .position_img {
        right: -35px;
        top: 30px;
    }
    .satisfied_students .proud_student .comment_student .position_img img {
        width: 85px;
        height: 85px;
    }
    .satisfied_students .proud_student .comment_student .style_card__VsHMD {
        width: 560px;
        height: 150px;
    }
    .satisfied_students .proud_student .style_parentVideo__58ZRH {
        width: 485px;
        height: 330px;
    }
    .satisfied_students .proud_student img.style_parentImage__WvcNq {
        margin-top: 21px;
    }
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .Schedule_schedule_background__kukcH .tabsystem{
        width: 100%;
    }
    .satisfied_students .proud_student .comment_student {
        width: 50%;
    }
    .satisfied_students .proud_student .style_parentVideo__58ZRH {
        width: 40%;
        height: 315px;
    }
    .satisfied_students .proud_student .comment_student .style_card__VsHMD {
        width: 100%;
        height: 145px;
    }
    .satisfied_students .proud_student .comment_student .style_description__YGZMX {
        max-width: 350px;
        font-size: 13px;
        margin: 20px 32px 14px;
    }
    .satisfied_students .proud_student .comment_student .position_img img {
        width: 90px;
        border-radius: 10px;
        height: 90px;
    }
    .satisfied_students .proud_student .comment_student .style_name__WN6_f {
        font-size: 14px;
    }
    .Schedule_schedule_background__kukcH .tabsystem .nav-pills .nav-link,
    .nav-pills .show>.nav-link {
        margin-right: 20px !important;
        padding: 8px 0px!important;
        width: 130px!important;
        line-height: 11px!important;
        height: 80px!important;
    }
    .Schedule_schedule_background__kukcH .tabsystem h3 {
        font-size: 17px;
    }
    .style_teacher-name__pqUOr {
        font-size: 14px;
    }
    .satisfied_students .proud_student .style_oval__ldDBu {
        top: 134px;
    }
    .course_detail_page .banner_area .img_data img {
        height: 225px;
    }
}

@media only screen and (min-width:768px) and (max-width:1199px) {
    .Schedule_schedule_background__kukcH .tabsystem{
        width: 100%;
    }
    .course_detail_page .style_purple_header__wqmg1 {
        font-size: 15px;
    }
    .banner_area span {
        font-size: 15px;
    }
    .course_detail_page .style_title__gwD82 {
        font-size: 15px;
    }
    .course_detail_page .banner_area .text_data p {
        font-size: 13px;
        line-height: 24px;
    }
    .course_detail_page .style_flexed__usDPA {
        grid-column-gap: 6px;
        -moz-column-gap: 6px;
        column-gap: 6px;
        font-size: 14px;
    }
    .course_detail_page .style_flexed__usDPA img {
        width: 20px;
    }
    .course_detail_page .style_book-button__9JTvT {
        font-size: 13px;
        width: 110px;
        height: 36px;
    }
    .satisfied_students .proud_student .style_header__egmsn {
        font-size: 19px;
    }
    .satisfied_students .proud_student .style_parentVideo__58ZRH {
        width: 40%;
    }
    .satisfied_students .proud_student .comment_student {
        width: 60%;
    }
    .satisfied_students .proud_student .comment_student {
        width: 60%;
        height: 295px;
    }
    .satisfied_students .proud_student .comment_student .style_card__VsHMD {
        width: 100%;
        height: 170px;
    }
    .satisfied_students .proud_student .comment_student .style_description__YGZMX {
        max-width: 315px;
        font-size: 13px;
        margin: 10px 15px 12px;
    }
    .satisfied_students .proud_student .comment_student .style_name__WN6_f {
        margin-left: 22px;
        font-size: 12px;
    }
    .satisfied_students .proud_student .comment_student .position_img img {
        width: 75px;
        height: 75px;
    }
    .satisfied_students .proud_student .comment_student .position_img {
        right: -20px;
    }
    .satisfied_students .proud_student img.style_parentImage__WvcNq {
        margin-top: 62px;
    }
    .satisfied_students .proud_student .style_oval__ldDBu {
        top: 120px;
    }
    .course_detail_page .banner_area .img_data img {
        height: 150px;
    }
    .style_teacher-name__pqUOr a {
        font-size: 12px;
    }
    
    .pricing h2 {
        font-size: 20px !important;
    }
    .pricing .card {
        margin-top: 30px;
    }
    .pricing .card-price {
        font-size: 11px;
    }
    .pricing .btn {
        width: 100%;
        height: 30px;
        padding: 7px 0;
        font-size: 12px;
    }
    .pricing ul li {
        font-size: 11px;
    }
    .pricing .card-body {
        padding: 5px 5px;
    }
    .Schedule_schedule_header__rhykp {
        font-size: 21px;
    }
    .Schedule_schedule_background__kukcH p.desc_data {
        font-size: 13px;
        line-height: 24px;
    }
    .Schedule_schedule_background__kukcH .tabsystem h3 {
        font-size: 18px;
    }
    .Schedule_schedule_background__kukcH .tabsystem .nav-pills .nav-link,
    .nav-pills .show>.nav-link {
        margin-right: 20px !important;
        padding: 8px 0px!important;
        width: 130px!important;
        line-height: 11px!important;
        height: 80px!important;
    }
    .Schedule_schedule_background__kukcH .tabsystem img {
        width: 24px;
    }
    .style_header__OWAnC {
        font-size: 21px;
    }
    .style_teacher-name__pqUOr {
        font-size: 14px;
        line-height: 19px;
    }
    .style_image-background__YWqOe {
        width: 85px;
        height: 74px;
    }
    .style_teacher-image__wuPrt {
        width: 70px;
        height: 80px;
    }
   
    .rating_area .reviewdata .customerdata .panel-body {
        margin-left: 16%;
    }
    .rating_area .FAQ_faqHeader__T42UM {
        font-size: 20px;
    }
    .rating_area .reviewdata .student-rating {
        margin: 20px 0px 50px;
    }
    .rating_area .cours-star li {
        font-size: 13px;
    }
    .rating_area .openmodal {
        font-size: 12px;
    }
}

@media only screen and (max-width:767px) {
    .Schedule_schedule_background__kukcH{
        width: 100%;
    }
    .Schedule_schedule_background__kukcH .tabsystem{
        width: 100%;
    }
    .Schedule_schedule_background__kukcH .tabsystem .card .card-header {
        padding: 2px 4px;
        border: 0px;
        font-size: 11px;
    }
    .Schedule_schedule_background__kukcH .tabsystem .card .card-header img {
        margin-right: 9px;
        width: 50px;
        height: 50px;
    }
    .Schedule_schedule_background__kukcH .tabsystem .card .card-body{
        padding: 5px 5px;
        border-bottom: 1px solid #00000014;
    }
    .Schedule_schedule_background__kukcH .tabsystem .imgtext{
        width: 38px;
        height: 38px;
        border-radius: 5px;
        margin-top: 8px;
    }
    .Schedule_schedule_background__kukcH .tabsystem .card .card-body .tttetx {
        margin-left: -18px;
    }
    .course_detail_page .style_purple_header__wqmg1 {
        font-size: 14px;
    }
    .course_detail_page .style_title__gwD82 {
        font-size: 14px;
        margin-top: 16px;
    }
    .course_detail_page .banner_area .text_data p {
        font-size: 12px;
        line-height: 23px;
    }
    .banner_area span {
        font-size: 14px;
    }
    .course_detail_page .style_book-button__9JTvT {
        width: 87px;
        height: 25px;
        margin-right: 0px;
        font-size: 10px;
        padding: 3px 0;
    }
    .satisfied_students .proud_student {
        padding: 30px 0;
    }
    .course_detail_page .banner_area .img_data img {
        height: 170px;
        margin-top: 20px;
    }
    .pricing h2 {
        font-size: 16px !important;
    }
    .pricing .card {
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .Schedule_schedule_background__kukcH p {
        font-size: 12px;
        line-height: 22px;
    }
    .Schedule_schedule_background__kukcH figure.table table td {
        min-width: 150px;
        font-size: 12px;
    }
    .reviewdata .curriculum-list-box span {
        width: auto;
        font-size: 11px;
    }
    .Schedule_schedule_background__kukcH .tabsystem .curriDiv{
        font-size: 14px;
    }
    .Schedule_schedule_background__kukcH .tabsystem p{
        font-size: 11px;
        line-height: 20px;
    }
    .satisfied_students .proud_student .style_containertBox__HApfz {
        display: block;
        padding-top: 20px;
    }
    .satisfied_students .proud_student .style_header__egmsn {
        font-size: 17px;
    }
    .satisfied_students .proud_student .comment_student .position_img {
        right: 0;
    }
    .satisfied_students .proud_student .comment_student .position_img img {
        width: 50px;
        height: 50px;
    }
    .satisfied_students .proud_student .comment_student .style_description__YGZMX {
        max-width: 225px;
        font-size: 13px;
        margin: 14px 13px 14px;
    }
    .satisfied_students .proud_student .style_parentVideo__58ZRH {
        width: 100%;
        margin-bottom: 22px;
    }
    .satisfied_students .proud_student .comment_student {
        width: 100%;
    }
    .satisfied_students .proud_student .comment_student .style_card__VsHMD {
        width: 100%;
    }
    .satisfied_students .proud_student .style_oval__ldDBu {
        top: 58px;
    }
    .satisfied_students .proud_student img.style_parentImage__WvcNq {
        margin-top: 0;
    }
    .satisfied_students .proud_student .comment_student .style_name__WN6_f {
        font-size: 12px;
    }
    .style_header__OWAnC {
        font-size: 16px;
    }
    .style_teacher-cards__LdSNP {
        display: block;
    }
   
    .style_teacher-name__pqUOr {
        font-size: 15px;
    }
    .style_sub_text___tV37 {
        font-size: 12px;
    }
    .Schedule_schedule_background__kukcH .tabsystem h3 {
        font-size: 14px;
    }
    .Schedule_schedule_header__rhykp {
        font-size: 17px;
    }
    .Schedule_schedule_background__kukcH p.desc_data {
        font-size: 12px;
        line-height: 24px;
    }
    .Schedule_schedule_background__kukcH .reviewdata .live-test a {
        font-size: 11px;
    }
    .Schedule_schedule_background__kukcH .reviewdata .live-test h4 {
        margin-top: 7px;
        font-size: 11px;
    }
    .Schedule_schedule_background__kukcH .reviewdata .live-test {
        margin: 0px;
        padding: 6px 10px 0;
        margin-bottom: 13px;
    }
    .Schedule_schedule_background__kukcH .tabsystem .tab-content .reviewdata h5 {
        font-size: 14px;
    }
    .Schedule_schedule_background__kukcH .tabsystem .video-group .test-text h3 {
        font-size: 11px;
    }
    .Schedule_schedule_background__kukcH .tabsystem h4 {
        font-size: 13px;
    }
    .Schedule_schedule_background__kukcH .tabsystem .test-group .test-text h3 {
        font-size: 12px;
    }
    .Schedule_schedule_background__kukcH .tabsystem .item i {
        font-size: 19px;
        margin-top: 8px;
    }
    .test-series-g a.reviewBtn{
        padding: 3px 7px;
        width: auto;
        font-size: 10px;
        margin-left: -31px;
    }
    .Schedule_schedule_background__kukcH .tabsystem .curriDiv span {
        font-size: 12px;
        width: 100% ;
    }
    span.add_modal2 em{
        float: right;
    }
    .curriculum-list-box span {
        width: 100% !important;
    }
    .Schedule_schedule_background__kukcH .tabsystem .nav-pills .nav-link,
    .nav-pills .show>.nav-link {
        font-size: 13px;
        margin-right: 10px;
        padding: 7px 0px;
        border-radius: 12px;
        width: 115px !important;
        line-height: 11px;
        height: 75px;
        margin-bottom: 10px;
    }
    .Schedule_schedule_background__kukcH .tabsystem .tab-content {
        margin-top: 15px;
    }
    .Schedule_schedule_background__kukcH .tabsystem img {
        width: 20px;
        left: 32%;
    }
    
    .rating_area .FAQ_faqHeader__T42UM {
        font-size: 21px;
    }
    .rating_area .reviewdata .student-rating {
        margin: 20px 0px 50px;
    }
    .rating_area .cours-star li {
        font-size: 11px;
    }
    .rating_area .openmodal {
        margin-top: 17px;
        font-size: 12px;
    }
    .rating_area .reviewdata .customerdata img {
        height: auto;
    }
    .rating_area .reviewdata .customerdata {
        padding: 7px 8px;
        margin-bottom: 15px;
        border-radius: 5px;
    }
    .rating_area .modal-dialog {
        width: 100%;
    }
}

