
a {
    text-decoration: none !important;
}


/* Begin: dams shop page */

.book-mod-page {
    padding: 15px 0px 0;
    width: 100%;
    float: left;
    background: #ffff url(https://d2enu63wt1sf3u.cloudfront.net/react_emed_web/background-bg.svg);
}

.book-mod-page .search_br {
    margin: 0px auto 45px; 
}

.book-mod-page .search_br input.form-control {
    border-radius: 100px !important;
    min-height: 50px !important;
    border: 1px solid #ccc;
    padding: 0 7% 0 2%;
    background: #fff;
    color: #9E9E9E;
    font-weight: 500;
    font-size: 16px;
}

.book-mod-page .search_br button.btn {
    position: absolute;
    right: 25px;
    top: 13px;
    background: none;
    z-index: 999;
    padding: 0 0px 0 10px;
}

.book-mod-page .category_detail {
    margin: 30px auto;
}

.book-mod-page .category_detail .img_bg {
    border: 1px solid #ebe8e8;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 18px 0px;
    height: 110px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    background: #fff;
}

.book-mod-page .category_detail .img_bg img {
    max-width: 100%;
    height: 75px;
    width: 90px;
}

.book-mod-page .category_detail .link_bg {
    margin-bottom: 25px;
    color: #212121;
    font-weight: 600;
    font-size: 15px;
    text-transform: capitalize;
}

.book-mod-page .category_detail .link_bg a {
    color: #212121;
    font-weight: 500;
    font-size: 16px;
}

.book-mod-page .btn i {
    font-size: 17px;
    color: #071952;
}

.book-mod-page .search-ico a {
    background: #006F08;
    box-shadow: 0px 0px 20px rgba(191, 197, 245, 0.15);
    border-radius: 50px;
    padding: 14px 16px;
    width: 50px;
    height: 50px;
    display: inline-block;
}

.book-mod-page .search-ico img {
    width: 25px;
}

.book-mod-page .search_br .input-group {
    width: 65%;
    position: absolute;
    top: 0px;
    margin: 0 auto;
    z-index: 7;
}


.book-mod-page .slider-data {
    padding: 0;
    margin: 0px auto;
}

.book-mod-page .slider-data .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider-data .carousel-inner img {
    height: 300px;
    border-radius: 10px;
    /* border: 1px solid #ddd; */
}

.book-mod-page .slider-data a {
    opacity: 1;
}

.book-mod-page .slider-data em {
    font-size: 25px;
    color: #000;
    padding: 0px 10px;
    background: #fff;
    box-shadow: 0 3px 10px #ccc;
    opacity: 1;
    border-radius: 3px;
}

.book-mod-page .slider-data .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
}

.book-mod-page .slider-data .carousel-control-next,
.carousel-control-prev {
    width: 5% !important;
}

.book-mod-page .tagoth_section {
    margin: 0px auto;
}

.book-mod-page .tagoth_section h3.tt_x {
    font-size: 20px;
    font-weight: 700;
    margin: 0px 0 0;
    color: #212121;
}

.book-mod-page .tagoth_section .see a {
    font-size: 17px;
    font-weight: 500;
    color: #071952;
    margin: 0px 0 5px;
    display: inline-block;
}

.book-mod-page .tabbing_data_oth {
    padding: 0px 0px 30px;
    margin: -15px auto 0;
    /* border-bottom: 1px solid #ddd; */
}

.book-mod-page .tabbing_data_oth:last-child {
    border-bottom: 0px;
}

.book-mod-page .owl-stage {
    margin: 9px 0px!important;
}

.book-mod-page .tabbing_data_oth .item p {
    font-size: 14px;
    font-weight: 500;
    margin: 0px 0px 4px;
    color: #379237;
}

.book-mod-page .tabbing_data_oth .price-img h4 {
    margin: 12px 0px;
    font-size: 16px;
    font-weight: 600;
}

.book-mod-page .tabbing_data_oth .price-img .rating {
    background: #379237;
    color: #fff;
    float: right;
    padding: 3px 0px;
    width: 50px;
    margin: 0 -15px;
    font-size: 13px;
    text-align: center;
    border-radius: 4px 0px 0px 4px
}

.book-mod-page .tabbing_data_oth .price-img span {
    font-weight: 500;
    font-size: 14px;
    color: #379237;
    display: inline-block;
    margin-left: 8px;

}

.book-mod-page .tabbing_data_oth .price-img em {
    margin-right: 4px;
}

.book-mod-page .tabbing_data_oth .item {
    margin: 0;
    border: 1px solid #e0dcdc;
    background: #fff;
    border-radius: 10px;
    padding: 7px 15px 15px;
    box-shadow: rgb(50 50 93 / 13%) 0px 6px 12px -2px, rgb(0 0 0 / 17%) 0px 3px 7px -3px;
}

.book-mod-page .tabbing_data_oth .item .edition.hidden {
    visibility: hidden;
}

.book-mod-page .tabbing_data_oth .item .edition a {
    background: #0096ff29;
    color: #0096FF;
    padding: 4px 8px;
    width: auto;
    font-size: 13px;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
}

.book-mod-page .tabbing_data_oth .price-img del {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    letter-spacing: -0.333333px;
    text-decoration-line: line-through;
    color: #000000;
}

.book-mod-page .tabbing_data_oth #book_slider .owl-nav button,
#quick-buy .owl-nav button,
#best-selling .owl-nav button,
#best_seller_slider .owl-nav button {
    width: 35px;
    height: 35px;
    background: #b4b4b49c;
    border-radius: 50%;
    font-size: 26px;
    line-height: 0;
    position: absolute;
    left: -5%;
    transform: translateY(0);
    font-weight: 600;
    font-family: auto;
    top: 30%;
}

.book-mod-page .tabbing_data_oth #book_slider .owl-nav button.owl-next,
#quick-buy .owl-nav button.owl-next,
#best-selling .owl-nav button.owl-next,
#best_seller_slider .owl-nav button.owl-next {
    right: -4%;
    left: unset;
}

.book-mod-page .tabbing_data_oth .owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    background: #63b5e9!important;
    width: 24px;
    border-radius: 50%;
    color: #fff;
}

.book-mod-page .tabbing_data_oth h3 {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: -7px;
    font-weight: 500;
    line-height: 25px;
    color: #212121;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden!important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}


.book-mod-page .tabbing_data_oth .tab-content .owl-carousel .owl-item img {
    width: 150px;
    height: 175px;
    background: #10101026;
    box-shadow: 0px 0px 40px rgba(170, 182, 211, 0.1);
    margin: 0 auto;
    padding: 0;
}

.book-mod-page img.hand {
    width: 23px;
    margin-right: 9px;
    margin-top: 0px;
}

.book-mod-page .tabbing_data_oth .owl-theme .owl-nav {
    margin-top: 10px;
    display: none;
}

.book-mod-page .best-selling {
    margin-top: 50px !important;
}

.book-mod-page .best-selling img.best-banner {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    height: 250px;
    margin-bottom: 40px;
}


/* End: dams shop page */


/* Begin: See All Page */

.see-detail .search_br button.btn img {
    width: 20px;
}

.see-detail .search-ico a {
    background: #006F08;
    box-shadow: 0px 0px 20px rgba(191, 197, 245, 0.15);
    border-radius: 50px;
    padding: 9px 9px !important;
    width: 45px;
    height: 45px;
    display: inline-block;
}

.see-detail .search-ico img {
    width: 25px !important;
}

.see-detail p.numtext {
    color: #212121;
    margin-top: 30px;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0;
}

.see-detail {
    margin: 50px 15% 50px !important;
}

.see-detail .search_br {
    margin: 45px 0 20px 0!important;
}

.see-all-product {
    margin-bottom: 50px;
}

.see-all-product .mix-text h3 {
    font-size: 15px;
    line-height: 23px;
    color: #212121;
    margin-bottom: 3px;
}

.see-all-product .mix-text p {
    margin-bottom: 6px;
}

.see-all-product .mix-text em {
    color: #FFB800;
    margin-right: 0px;
    font-size: 15px;
}

.see-all-product .mix-text h3 a {
    font-weight: 500;
}

.see-all-product .mix-text span.point {
    color: #006F08;
    font-weight: 700;
    margin-right: 6px;
    font-size: 16px;
}

.see-all-product .mix-text span.num {
    margin-left: 6px;
    color: #757575;
}

.see-all-product .mix-text h2 {
    font-size: 18px;
    color: #212121;
    margin-bottom: 5px;
    font-weight: 700;
}

.see-all-product .mix-text h2 em {
    color: #212121;
    font-size: 18px;
}

.see-all-product .mix-text p.stock {
    font-size: 13px;
    font-weight: 500;
    margin: 0;
}

.see-all-product .back-img {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 145px;
    background: #eee;
    padding: 10px;
    border-radius: 5px;
}

.see-all-product .back-img img {
    width: 90px;
}

.see-all-product .card {
    margin-bottom: 30px !important;
    margin-top: 0px;
    border: 0px;
}

.see-all-product .card-body {
    flex: auto;
    padding: 0;
    border: 0px !important;
}

.see-all-product .card-body .mix-text {
    margin-left: 10px;
}


/* End: Seel All page*/


/* Begin: Product Detail page */
/* .Detail{
    background: #ffff url(../images/background-bg.svg)
} */
.product-detail {
    margin: 0px auto;
    width: 1300px;
    padding: 60px 0px;
}
.product-detail .card{
    background: none;
}
.product-detail .product-text p{
    font-size: 17px;
    font-weight: 500;
}

.product-detail .image-link {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.product-detail .mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.product-detail .mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}

.product-detail .mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.product-detail .mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}

.product-detail .mfp-no-margins img.mfp-img {
    padding: 0;
}

.product-detail .mfp-no-margins .mfp-figure:after {
    top: 0;
    bottom: 0;
}

.product-detail .mfp-no-margins .mfp-container {
    padding: 0;
}

.product-detail .mfp-title {
    text-align: center;
    padding: 6px 0;
}

.product-detail .image-source-link {
    color: #DDD;
}

.product-detail .img-display {
    /* overflow: hidden; */
    margin-bottom: 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid #dddddd6e;
    padding: 25px 0px 15px;
    border-radius: 8px;
    background: #fff;
}

.product-detail .img-showcase {
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
    align-items: center;
    justify-content: center;

}

.product-detail .img-showcase img {
    height: 250px;
    border: 1px solid #0000002b;
    margin: 0 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-detail .img-showcase img:hover {
    transform: scale(1.7);
    transition: transform .9s;
}

.product-detail .img-display .share-icon a {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid #cccccc8f;
    padding: 10px 13px;
    border-radius: 100px;
    background: #fff;
    box-shadow: 0px 6px 10px 0px #00000069;
    right: 0px !important;
    top: 0px;
}

.product-detail .img-display .share-icon img {
    width: 30px;
}

.product-detail .img-select {
    display: -webkit-inline-box;
    width: 100%;
    margin: 30px auto 0px;
    overflow-x: scroll;
    scrollbar-width: none;
}

.product-detail .img-item img.active {
    border: 1px solid #008B00;
}

.product-detail .img-item img {
    padding: 6px 5px;
    border-radius: 8px;
    height: 54px;
    width: 54px;
    border: 1px solid #BDBDBD;
    background: #fff;
}

.product-detail .img-item {
    margin-right: 10px;
}

.product-detail .product-text h3 {
    color: #212121;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 0px;
}

.product-detail .product-text .rating {
    margin: 20px 0px;
}

.product-detail .product-text .rating p {
    background-color: #006F08;
    width: 60px;
    margin-bottom: 0px !important;
    color: #fff;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
}

.product-detail .product-text .rating h5 {
    font-size: 16px;
    color: #FF8400;
    margin: 4px 0 0;
}

.product-detail .product-text .rating h5.stock-test {
    font-size: 16px;
    color: #379237;
    margin: 10px 0 0px;
}

.product-detail .product-text .rating h4 {
    font-size: 20px;
    margin-bottom: 0px;
    color: #212121;
    font-weight: 700;
}

.product-detail .product-text .rating h4 del {
    margin-left: 10px;
    color: #757575;
    font-size: 14px;
}

.product-detail .product-text .rating h4 span {
    color: #379237;
    margin-left: 10px;
    font-size: 14px;
}

.product-detail .product-text .coupan {
    margin: 20px 0px;
}

.product-detail .product-text .coupan a {
    color: #212121;
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    display: inline-block;
    border: 1px solid #dddddd87;
    padding: 10px 10px;
    border-radius: 4px;
}

.product-detail .product-text .coupan img.icons {
    margin-right: 10px;
}

.product-detail .product-text .coupan p {
    color: #757575;
    font-size: 15px;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-weight: 500;
}

.product-detail .product-text .coupan span em {
    font-weight: 600;
    font-size: 20px;
}

.product-detail .qty-container {
    display: flex;
    align-items: center;
    justify-content: left;
    color: #212121;
    margin-bottom: 25px;
}

.product-detail .qty-container span.quantity {
    margin-right: 20px;
    font-size: 17px;
    font-weight: 500;
}

.product-detail .qty-container .input-qty {
    text-align: center;
    padding: 6px 10px;
    border: 1px solid #d4d4d4 !important;
    max-width: 60px;
    font-weight: 600;
}

.product-detail .qty-container .qty-btn-minus,
.qty-container .qty-btn-plus {
    border: 1px solid #d4d4d4 !important;
    padding: 8px 8px;
    font-size: 15px;
    height: 38px !important;
    width: 50px !important;
    transition: 0.3s;
    color: #212121;
    border-radius: 0px 5px 5px 0px;
    background: #fff;
}

.product-detail .qty-container .qty-btn-plus {
    margin-left: -1px;
}

.product-detail .qty-container .qty-btn-minus {
    margin-right: -1px;
    border-radius: 5px 0px 0px 5px;
}

.product-detail .quantity p {
    font-weight: 600;
    color: #757575;
    font-size: 17px;
    margin-bottom: 10px;
}

.product-detail .quantity .course-year button {
    border: 1px solid #37923775 !important;
    width: 90px;
    padding: 3px 0px;
    border-radius: 3px;
    color: #379237;
    background: #ffff;
    margin-right: 4px;
}

.product-detail .feature {
    border-bottom: 1px solid #ddd;
    padding-bottom: 25px;
    margin: 20px auto 0px;
}

.product-detail .feature h3 {
    color: #212121;
    font-size: 18px;
    margin-bottom: 20px;
}
.product-detail .feature p {
    color: #212121;
    font-size: 15px;
    margin-bottom: 0;
    text-align: justify;
}
.product-detail .feature li {
    color: #424242;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 20px;
    list-style: disc;
    text-align: justify;
}

.product-detail .review-section {
    width: 1024px;
    margin: 50px auto;
}

.product-detail .review-section h3 {
    margin: 0px;
    font-size: 20px;
}

.product-detail .review-section img {
    margin-right: 10px;
    width: 30px;
}

.product-detail .review-section .revrating {
    margin-top: 15%;
    text-align: center;
    border: 1px solid #EEEEEE;
    padding: 19px 0px;
    border-radius: 4px;
}

.product-detail .review-section .revrating h3 {
    margin-bottom: 0;
    font-size: 25px;
}

.product-detail .review-section .revrating p {
    margin-bottom: 0;
    color: #424242;
    margin-top: 8px;
    font-size: 17px;
}

.product-detail .review-section .revrating em {
    margin-left: 6px;
}

.product-detail .rating_circle {
    width: 100px;
    height: 100px;
    border-radius: 70px;
    border: 1px none;
    font-size: 35px;
}

.product-detail .stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
    font-size: 20px;
    letter-spacing: 5px;
}

.product-detail .stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.product-detail .star-number .card {
    border: 0px;
    margin: 30px 0px;
}

.product-detail .star-number .card .card-body {
    padding: 10px 0px;
}

.product-detail .star-number .card .card-body .borderset:before {
    content: "";
    height: 130px;
    background-color: #EEEEEE;
    width: 2px;
    position: absolute;
    top: 4px;
    left: 25px;
}

.product-detail .star-number .card h6.rating_text {
    margin-bottom: 12px;
    font-size: 18px;
    margin-top: -4px;
}

.product-detail .star-number .card .progress {
    margin-bottom: 20px;
    height: 10px;
    background: #E0E0E0;
}

.product-detail .star-number .card .number-star {
    margin-bottom: 9px;
    margin-top: -4px;
    font-size: 16px;
}

.product-detail .star-number .card .progress .progress-bar {
    background-color: #379237;
    height: 10px;
    border-radius: 100px;
}

.product-detail .star-number .card .number-star:last-child {
    margin-bottom: 0px;
}

.product-detail .star-number .card .progress:last-child {
    margin-bottom: 0;
}

.product-detail .review-section .review_text {
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.product-detail .review-section .review_text h4 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #212121;
}

.product-detail .review-section .review_text p {
    margin-bottom: 0;
    color: #212121;
    font-size: 17px;
}

.product-detail .review-section .review_text span {
    background-color: #379237;
    width: 60px;
    margin-bottom: 0px !important;
    color: #fff;
    border-radius: 4px;
    font-size: 15px;
    text-align: center;
    display: inline-block;
    padding: 5px 0px;
    margin-right: 15px;
}

.product-detail .review-section .name_det {
    margin-top: 25px;
}

.product-detail .review-section .name_det h3 {
    margin-bottom: 4px;
    font-size: 18px;
}

.product-detail .review-section .name_det p {
    color: #424242;
    font-size: 15px;
}


.product-detail .circle-bg {
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    display: table;
    right: 40px !important;
    top: 15px;
    width: 50px;
    height: 50px;
    position: absolute;
    vertical-align: middle;
    box-shadow: 1px 1px 1px 1px #ccc;
}

.product-detail .icon {
    color: #8e8e8e;
    display: table-cell;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
}

.product-detail .outer-icons {
    opacity: 0;
    position: absolute;
    top: 82px;
    right: 40px;
}

.product-detail .outer-icons i {
    color: white;
    border-radius: 50%;
    margin: 0px 0 4px;
    font-size: 16px;
    line-height: 33px;
    height: 30px;
    width: 30px;
    text-align: center;
    display: block;
}

.product-detail .one {
    background-color: #55acee;
}

.product-detail .two {
    background-color: #3b5998;
    left: -60px;
}

.product-detail .three {
    background-color: #329a4a;
    left: 60px;
}

.product-detail .four {
    background-color: #0077b5;
    left: 120px;
}



/* Begin: Dams T-Shirt page */

.dams-tshirt .shirtbg {
    margin: 50px 0;
    font-family: Roboto;
}

.dams-tshirt .shirtbg h4 {
    color: #212121;
    font-size: 17px;
    margin-bottom: 15px;
}

.dams-tshirt .shirtbg .size .hs_pricing_toggle__wrapper {
    display: inline-block;
}

.dams-tshirt .shirtbg .size .hs_pricing_toggle {
    border-radius: 6px;
    padding: 10px 10px;
    position: relative;
    outline: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    width: 50px;
    margin-right: 5px;
}

.dams-tshirt .shirtbg .size .hs_pricing_toggle.activate,
.btn:hover {
    background: #006F08;
    color: #fff;
}

.dams-tshirt .shirtbg .size .hs_pricing_toggle:hover {
    background: #006F08;
    color: #fff;
}

.dams-tshirt .shirtbg .select-color .active_circle {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    display: inline-block;
    margin-right: 12px;
    position: relative;
}

.dams-tshirt .shirtbg .select-color .active_circle .active .roundbg::after {
    content: "\f00c";
    font-size: 19px;
    color: #fff;
    font-family: FontAwesome;
    top: 12px;
    position: absolute;
    left: 15px;
}

.dams-tshirt .shirtbg .select-color .active_circle .color1 {
    background: #AA0010 !important;
}

.dams-tshirt .shirtbg .select-color .active_circle .color2 {
    background: #010035 !important;
}

.dams-tshirt .shirtbg .select-color .active_circle .color3 {
    background: #AC847D !important;
}

.dams-tshirt .shirtbg .select-color .active_circle .color4 {
    background: #772D03 !important;
}

.dams-tshirt .shirtbg .select-color .active_circle .color5 {
    background: #000000 !important;
}

.dams-tshirt .shirtbg .select-color .active_circle .color6 {
    background: #006F08 !important;
}


/* End: Dams T-Shirt page */

.location-detail {
    width: 768px;
    margin: 60px auto 0;
    border-radius: 10px;
}

.location-detail .locationsec h2 {
    font-size: 17px;
    margin-bottom: 22px;
    font-weight: 500;
}

.location-detail .locationsec input[type="text"] {
    width: 100%;
    margin: 0;
    display: inline-block;
    padding: 12px 0 12px 55px;
    border: 1px solid #379237;
    border-radius: 12px;
}

.product-detail .addition-detail {
    width: 768px;
    margin: 50px auto 0px;
    background: #fff;
    padding: 20px 20px;
    border-radius: 10px;
}

.product-detail .addition-detail h3 {
    color: #212121;
    font-size: 18px;
    margin-bottom: 15px;
}
/* .product-detail .addition-detail .table tr:nth-child(2n+1){
    background: #f4f4f494;
} */

.product-detail .addition-detail tr:nth-child(even){
    background: #f5f5f5 !important;
}

.product-detail .addition-detail .table td {
    border: 1px solid #f5f5f5;
    color: #424242;
    padding: 10px 10px;
    font-size: 15px;
    font-weight: 500;
}

.product-detail .locationsec {
    height: auto!important;
    border-radius: 5px;
    padding: 0px 0px!important;
}

.product-detail .locationsec img.loaction-icon {
    position: absolute;
    left: 22px;
    top: 13px;
    width: 25px;
}

.product-detail .locationsec .check-text {
    position: absolute;
    top: 12px;
    right: 20px;
    color: #379237;
    font-size: 16px;
}

.product-detail .add-cartbtn {
    margin: 40px auto 0px;
    text-align: center;
}

.product-detail .add-cartbtn button {
    font-size: 17px;
    width: 180px;
    padding: 11px 0;
    border-radius: 8px;
    margin: 0 20px;
}

.product-detail .add-cartbtn button img {
    margin-right: 6px;
    width: auto;
    margin-top: -6px;
}

.product-detail .add-cartbtn button.add-cart {
    color: #000;
    border: 1px solid #379237 !important;
    background: #fff;
}

.product-detail .add-cartbtn button.buy-bg {
    color: #fff;
    background: #379237
}


/* End: Product Detail page */


/* Begin: My cart detail page */

.my-cart-detail {
    margin: 60px 10%;
}

.my-cart-detail .qty-container {
    display: flex;
    align-items: center;
    justify-content: left;
    background: #006F08;
    width: 92px;
    border-radius: 4px;
    height: 32px;
}

.my-cart-detail .qty-container em {
    color: #fff !important;
    font-size: 13px !important;
}

.my-cart-detail .qty-container span.quantity {
    margin-right: 20px;
    font-size: 16px;
    font-weight: 500;
}

.my-cart-detail.qty-container .input-qty {
    text-align: center;
    padding: 3px 10px;
    font-size: 15px;
    border: 0px solid #d4d4d4 !important;
    max-width: 60px;
    font-weight: 600;
}

.my-cart-detail .qty-container .qty-btn-minus,
.qty-container .qty-btn-plus {
    border: 0px solid #d4d4d4;
    padding: 0 8px;
    font-size: 15px;
    height: 38px;
    width: 38px;
    transition: 0.3s;
    color: #212121;
    border-radius: 0px 5px 5px 0px;
}

.my-cart-detail .qty-container .qty-btn-plus {
    margin-left: -1px;
    background: none;
    border: 0px !important;
}

.my-cart-detail .qty-container .qty-btn-minus {
    margin-right: -1px;
    border-radius: 5px 0px 0px 5px;
    background: none;
}

.my-cart-detail .quantity p {
    font-weight: 600;
    color: #1B5E20;
    font-size: 18px
}

.my-cart-detail .quantity h4 {
    font-size: 17px;
    color: #757575;
    margin: 0;
}

.my-cart-detail .qty-container input.input-qty {
    width: 100%;
    text-align: center;
    background: none;
    border: 0px;
    color: #fff;
}

.my-cart-detail .detail {
    border: 1px solid #cccccc4a;
    padding: 15px 15px;
    border-radius: 4px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 25px;
}

.my-cart-detail .detail .t-shirt img {
    height: 125px;
}

.my-cart-detail .detail .text-shirt h3 {
    font-size: 15px;
    margin-bottom: 0px;
    font-weight: 700;
    line-height: 22px;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden!important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.my-cart-detail .detail span.quantity {
    position: absolute;
    top: 4px;
    left: -21px;
    font-weight: 600;
    color: #212121;
    font-size: 15px;
}

.my-cart-detail .detail .text-shirt p {
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
}

.my-cart-detail .detail em {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.my-cart-detail .detail .size {
    margin-top: 5px;
}

.my-cart-detail .detail .size h3 {
    color: #212121;
}

.my-cart-detail .detail .price {
    margin-top: 15px;
}

.my-cart-detail .detail .price del {
    color: #9E9E9E;
    margin-left: 8px;
    font-size: 16px;
    font-weight: 500;
}

.my-cart-detail .detail .price h3 {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}

.my-cart-detail .detail .price em {
    color: #212121;
    font-size: 15px;
    font-weight: 600;
}

.my-cart-detail .detail .price del em {
    color: #9E9E9E;
    margin-right: 3px;
    font-size: 14px;
}

.my-cart-detail .detail .price span {
    font-size: 16px;
    font-weight: 500;
    margin-left: 5px;
}

.my-cart-detail .detail label {
    color: #212121;
    font-weight: 600;
    font-size: 16px;
    margin-right: 10px;
    margin-bottom: 0;
}

.my-cart-detail .detail select {
    border: 0px;
    font-size: 16px;
    font-weight: 600;
    padding: 0 4px;
    background: none;
}

.my-cart-detail .checkout {
    width: 660px;
    margin: 50px auto 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px 20px 30px;
}

.my-cart-detail .checkout .chekbtn {
    width: 240px;
    margin: 50px auto 0;
    text-align: center;
}

.my-cart-detail .checkout .chekbtn a {
    color: #fff;
    width: 100%;
    background: #006F08;
    display: inline-block;
    padding: 11px 0px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
}

.my-cart-detail .checkout .table td {
    padding: 8px 0px;
    border: 0px;
    font-size: 16px;
    font-weight: 400;
    color: #212121;
}

.my-cart-detail .checkout .table td em {
    margin-right: 3px;
}

.my-cart-detail .checkout .table th {
    border-top: 2px solid #E0E0E0;
    border-bottom: 2px solid #E0E0E0;
}

.my-cart-detail .checkout .amount {
    margin-top: 15px;
    border-bottom: 2px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 21px 0px;
}

.my-cart-detail .checkout .amount th {
    padding: 13px 0px;
    color: #212121;
}

.my-cart-detail .checkout .amount th em {
    margin-right: 3px;
}


/* End: My cart detail page */


/* Begin: Success page*/

.success-page {
    margin: 50px auto;
    width: 768px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 12px 0px 30px;
    border-radius: 10px;
}

.success-page .view-order img {
    margin-bottom: 15px;
    width: 55px;
}

.success-page .view-order p {
    margin-bottom: 4px;
    color: #006F08;
    font-weight: 700;
    font-size: 18px;
}

.success-page .view {
    margin-top: 20px;
}

.success-page .view p {
    margin-bottom: 4px;
    color: #212121;
    font-weight: 500;
    font-size: 15px;
}

.success-page .order-btn {
    margin-top: 40px;
    width: 100%;
}

.success-page .order-btn a {
    background-color: #006F08;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0px;
    border-radius: 5px;
    width: 200px;
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
}

.failed-page .order-btn a {
    background-color: #D32F2F;
}

.failed-page .view-order p {
    color: #D32F2F;
}


/* End: Success page*/


/* Begin: Short Filter page*/

.book-mod-page .short-filter h3 {
    color: #212121;
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 15px;
}

.book-mod-page .modal-content {
    border-radius: 12px;
}

.book-mod-page .modal-body {
    padding: 25px 22px;
}

.book-mod-page .modal-body h2 {
    color: #212121;
    font-size: 18px;
    margin-bottom: 20px;
}

.book-mod-page .short-filter .filter_data {
    margin: 30px 0px;
}

.book-mod-page .short-filter .filter_data .equal_img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-mod-page .short-filter .filter_data .equal_img h4 {
    font-size: 18px;
    margin-bottom: 2px;
    color: #212121;
}

.book-mod-page .short-filter .filter_data .equal_img p {
    margin: 0px;
    color: #9E9E9E;
    font-size: 15px;
}

.book-mod-page .short-filter .filter_data .equal_img img {
    width: 22px;
}

.book-mod-page .short-filter .back_bg {
    text-align: center;
}

.book-mod-page .short-filter .back_bg img {
    max-width: 100%;
    width: 165px;
    height: 185px;
}

.book-mod-page .short-filter .item {
    padding: 10px 15px 15px;
    margin-bottom: 30px;
}


.book-mod-page .short-filter .price-img span {
    font-size: 14px;
}

.short-check .active_circle {
    border: 1px solid #e0e0e078;
    border-radius: 6px;
    padding: 15px 10px;
    margin: 5px 0px;
}

.short-check .active_circle h3 {
    color: #212121;
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
}

.short-check .active_circle .round {
    border: 1px solid #E0E0E0;
    width: 22px;
    height: 22px;
    border-radius: 100px;
    margin: 0 auto;
    float: right;
    display: block;
    background: #E0E0E0;
}

.short-check .active_circle.active .round {
    display: none;
}

.short-check .active_circle.active {
    background: #37923726;
    border: 1px solid #388e3c2b;
}

.short-check .active_circle.active .active-img img {
    width: 22px;
    display: block;
}

.short-check .active_circle .active-img {
    float: right;
}

.short-check .active_circle .active-img img {
    display: none;
}

.filter-by button.reset-text {
    color: #757575 !important;
    font-size: 17px;
    background: none;
}

.filter-by button.reset-text span {
    margin-left: 8px;
}

.filter-by .filter-tabs ul.nav.nav-pills {
    background-color: #fafafa;
    margin-bottom: 0px;
    border: solid 1px #eeecec;
    height: auto;
}

.filter-by .filter-tabs a.nav-link {
    color: #424242;
    border-radius: 0px;
    font-size: 14px;
    padding: 13px 10px;
    font-weight: 500;
}

.filter-by .filter-tabs .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #0096ff;
    background: #fff;
    border-left: solid 4px #0096ff;
}

.filter-by .filter-tabs .nav-pills .nav-link,
.nav-pills .show>.nav-link {
    border-left: solid 4px #fafafa;
}

.filter-by .filter-tabs .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #379237;
    border-left: 3px solid #379237;
}

.filter-by .filter-tabs .multiselect label {
    display: block;
    padding: 13px 10px;
    font-size: 14px;
}

.filter-by .filter-tabs .text-checkbox input[type="checkbox"] {
    display: inline-block;
    position: absolute;
    top: 17px;
    right: 10px;
}

.filter-by .modal-footer .btn-grp .btn.cls_btn {
    background: #fff;
    color: #379237;
    border: 1px solid #E0E0E0 !important;
}

.filter-by .modal-footer .btn-grp .btn {
    background: #379237;
    width: 150px;
    border-radius: 6px;
    font-size: 15px;
    padding: 10px 0px;
}

.filter-by .modal-body .filter-tabs .multiselect-on {
    color: #212121;
    background-color: #37923721;
}

.filter-by .filter-tabs .count-checked-checkboxes,
.form-required {
    color: #379237;
    font-weight: 700;
}

.filter-by span.count-checked-checkboxes {
    position: absolute;
    top: 8px;
    left: -13px;
}

.filter-by .filter-tabs .count-checked-checkboxes1,
.form-required {
    color: #379237;
    font-weight: 700;
}

.filter-by span.count-checked-checkboxes1 {
    position: absolute;
    top: 8px;
    left: -13px;
}

.filter-by .filter-tabs .check-design {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.filter-by .filter-tabs .check-design input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.filter-by .filter-tabs .check-design .checkmark {
    position: absolute;
    top: 12px;
    right: 12px;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-color: #212121;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
}

.filter-by .filter-tabs .check-design input:checked~.checkmark {
    background-color: #379237;
    border: 0px;
    border-radius: 4px;
}

.filter-by .filter-tabs .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.filter-by .filter-tabs .check-design input:checked~.checkmark:after {
    display: block;
}

.filter-by .filter-tabs .check-design .checkmark:after {
    left: 7px;
    top: 3px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* End: Short Filter page*/


/* Begin Book Sub category page */

.book-subcategory .category_detail .link_bg {
    font-size: 14px;
}


/* End Book Sub category page */

.product-home .category_detail .img_bg img {
    max-width: 100%;
    width: auto;
    height: 75px;
}

.product-home .category_detail .link_bg {
    margin-bottom: 0;
}

.book-mod-page .quick-data .back_bg img {
    max-width: 100%;
    width: 135px;
    height: 200px;
}


/* Begin:Book Home */

.product-home .quick-data {
    margin-bottom: 50px;
    padding: 0px 0px 40px;
}

.product-home .quick-data .back_bg {
    text-align: center;
}

.product-home .quick-data .tagoth_section {
    margin: 0px auto 25px;
}

.product-home .tagoth_section {
    margin: 0px auto 25px;
}

.product-home .quick-data .best-sell {
    text-align: center;
}

.product-home .best-sell .back_bg {
    text-align: center;
}

.product-home .best-sell .back_bg img {
    max-width: 100%;
    width: 135px;
    height: 200px;
}

.product-home .tabbing_data_oth h3 {
    min-height: 50px;
}


/* End:Product Home */


/* Begin:Book Home */

.book-home .tagoth_section {
    margin: 50px auto 25px;
}

.book-home .quick-data .best-sell {
    text-align: center;
}

.book-home .quick-data .back_bg {
    text-align: center;
}

.book-home .tabbing_data_oth h3 {
    min-height: 50px;
}

.book-home .best-sell .back_bg {
    text-align: center;
}

.book-home .best-sell .back_bg img {
    max-width: 100%;
    width: 135px;
    height: 200px;
}

.book-home .tabbing_data_oth {
    padding: 0px 0px 40px;
    border-bottom: 1px solid #dddddd8c;
}

.book-home .img_category {
    padding: 20px 0px;
    background: radial-gradient(circle, rgba(55, 146, 55, 0.5) 0%, rgba(55, 146, 55, 1) 100%, rgba(55, 146, 55, 1) 100%);
    border-radius: 4px;
}

.book-home .img_category .img_bg {
    border: 1px solid #ffffff14;
    text-align: center;
    margin-bottom: 5px;
    border-radius: 0;
    padding: 0px;
}

.book-home .img_category .img_bg img {
    max-width: 100%;
    height: 135px;
}

.book-home .img_category .link_bg {
    margin-bottom: 0;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
}


/* End:Book Home */



/*  Size and color  */

.ColorSize {
    margin-bottom: 30px;
}
.ColorSize .roundTick {
    border: 1px solid #eee;
    background: #524e4c33;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 100px;
    font-size: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    cursor: pointer;
}
.ColorSize h3{
    font-size: 20px;
    margin-bottom: 15px;
    color: #212121;
}

.radio__group{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 30px;
}

.radio__group span{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 500;
}

.radio__button {
    position: relative;
    display: inline-block;
}
.radio__button label {
    cursor: pointer;
    padding: 9px;
    height: 45px;
    width: 45px;
    display: block;
    text-align: center;
    border-radius: 6px;
    margin-right: 15px !important;
    box-shadow: 0px 0px 5px #e5e5e5;
    transition: all 120ms ease-in-out;
    border: 1px solid #212121;
    margin: 0;

}
.radio__button label p {
    font-size: 12px;
    margin: 0;
}
.radio__button label:before {
    content: attr(data-icon);
    font-size: 17px;
    display: block;
    line-height: 26px;
}

.radio__button label:hover{
    color: #212121 !important;
    -webkit-text-fill-color: #100f0f;

}
.radio__button input[type="radio"] {
    display: none;
}
.radio__button input[type="radio"]:checked + label {
    color: #fff !important;
    border: 1px solid #00a550;
    background: #00a550;
    -webkit-text-fill-color: #fff;
}
.radio__button span{
    color: #212121;
    font-size: 17px;
    height: 50px;
    width: 50px;
    display: inline-block;
    padding: 12px 0;
    text-align: center;
    border-radius: 6px;
    margin-right: 15px !important;
    box-shadow: 0px 0px 5px #e5e5e5;
    transition: all 120ms ease-in-out;
    border: 1px solid #212121;
    margin: 0;
}

.fliterDatabtn {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: flex-start;
}
.fliterDatabtn .sortData{
    align-items: center;
    justify-content: flex-start;
    display: flex;
    margin-right: 20px;
}
.fliterDatabtn button.sortingbtndata {
    margin-left: 10px;
    padding: 10px 0;
    background-color: #fff;
    border-radius: 5px;
    width: 200px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}


@media only screen and (max-width: 767px){
    .book-mod-page .search_br .input-group{
        width: 100%;
    }
    .product-detail .qty-container .qty-btn-minus, .qty-container .qty-btn-plus {
        padding: 5px 8px !important;
        font-size: 13px !important;
        height: 30px !important;
        width: 26px !important;
    }
    .fliterDatabtn{
        white-space: nowrap;
        flex-wrap: initial;
        overflow: auto;
        scrollbar-width: none;
    }
    .fliterDatabtn button.sortingbtndata {
        margin-left: 10px;
        padding: 8px 10px;
        font-size: 12px;
        color: #fff;
        width: auto;
    }
}



