/****** Qbank **********/
.new_qbank_module{
    margin: 30px 0px;
    padding: 0px 10%;
}
.new_qbank_module .expire_trial {
    margin-bottom: 30px;
}
.new_qbank_module .expire_trial ul li img{
    width: 80px;
    margin-right: 10px;
}
.new_qbank_module .expire_trial ul li{
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
}
.new_qbank_module .expire_trial ul li span.days{
    color: #FF1E1E;
}

.new_qbank_module .bookmark_part{
    background: #FFEBEE;
    border-radius: 8px;
    margin: 20px 0px 0px;
    padding: 14px 14px;
}
.new_qbank_module .bookmark_part.bg_nw{
    background: #E1F5FE;
}
.new_qbank_module .bookmark_part.bg_nw1{
    background: #F3E5F5;
}
.new_qbank_module .bookmark_part img{
    width: 20px;
    height: 20px;
}
.new_qbank_module .bookmark_part p{
    color: #212121;
    font-size: 16px;
    margin: 14px 0px -4px;
}


.new_qbank_module .hading_text{
    margin: 60px 0px 20px;
}
.new_qbank_module .hading_text h2{
font-size: 16px;
}
.choose_subject{
    background-color: rgba( 239, 229, 253, 0.5);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    padding: 18px 10px;
    margin-bottom: 30px;
}
.choose_subject.bg_1{
    background: rgba(250, 228, 252, 0.5) !important;
}
.choose_subject.bg_2{
    background: rgba(255, 242, 223, 0.5) !important;
}
.choose_subject.bg_3{
    background: rgba(255, 235, 238, 0.5) !important;
}
.choose_subject.bg_4{
    background: rgba(224, 242, 241, 0.5) !important;
}
.choose_subject.bg_5{
    background: rgba(251, 233, 231, 0.5) !important;
}

.choose_subject ul{
    margin: 0px;
    padding: 0px;
    display: flex;
}
.choose_subject ul li{
    display: inline-block;
    font-size: 15px;
    color: #212121;
}
.choose_subject ul li img{
    width: 44px;
    margin-right: 20px;
}
.choose_subject ul li span.qaunt{
    display: block;
    color: #757575;
}
.choose_subject ul li.icon{
    position: absolute;
    right: 20px;
    top: 28px;
    font-size: 16px;
}



/****** Qbank > Bookmarks **********/


.new_qbank_module .bookmarks{
    border-radius: 4px;
    padding: 18px 10px;
    margin-bottom: 30px;
}
.new_qbank_module .bookmarks:hover{
    background: rgba(225, 245, 254, 0.5);
}
.new_qbank_module .bookmarks ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
}
.new_qbank_module .bookmarks ul li{
    display: inline-block;
    font-size: 15px;
    color: #212121;
}
.new_qbank_module .bookmarks ul li img{
    width: 44px;
    margin-right: 20px;
}
.new_qbank_module .bookmarks ul li span.qusn{
    color: #757575;
}
.new_qbank_module .bookmarks ul li.icon{
    position: absolute;
    right: 20px;
    top: 28px;
    font-size: 16px;
}



/****** Qbank > Bookmarks > Anatomy **********/
.new_qbank_module .anatomy_qsn_part {
    display: flex;
    align-items: center;
    margin: 20px 0px 0px;
}
.new_qbank_module .anatomy_qsn_part a{
    color: #212121;
    border-bottom: solid 1px #f5f5f5;
    padding: 4px 0px;
}
.new_qbank_module .anatomy_qsn_part span.qsn_number{
    background: #F5F5F5;
    width: 34px;
    height: 34px;
    padding: 4px 0px;
    border-radius: 50px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-right: 10px;
}


/****** Qbank > Anatomy Subject **********/

.anatomy_sub .anatomy_top_sec h2{
    font-size: 16px;
    font-weight: 500;
}
.anatomy_sub .anatomy_top_sec ul li{
    display: inline-block;
    color: #757575;
    margin: 0px 10px;
}
.anatomy_sub .anatomy_top_sec ul li:first-child{
    margin: 0px 0px;
}
.anatomy_sub .anatomy_top_sec ul li::before {
    content: "\2022";
    color: #757575;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
}
.anatomy_sub .atmpt_part{
    padding: 12px 10px;
    margin: 30px 0px;
    text-align: center;
    border-radius: 8px;
    background: rgba(57, 181, 224, 0.05);
}
.anatomy_sub .atmpt_part.bg_1{
    background: rgba(255, 109, 40, 0.05) !important;
}
.anatomy_sub .atmpt_part.bg_2{
    background: rgba(55, 146, 55, 0.05) !important;
}
.anatomy_sub .atmpt_part img{
   width: 26px;
}
.anatomy_sub .atmpt_part p{
    color: #212121;
    margin: 10px 0px 0px;
}

.anatomy_sub .topics_view ul li{
    display: inline-block;
}
.anatomy_sub .topics_view ul.general li.sr_nmbr{
    background: #f5f5f5;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    text-align: center;
    padding: 2px 0px;
}
.anatomy_sub .topics_view ul.general{
   margin: 40px 0px 10px;
}
.anatomy_sub .topics_view ul.general li.font{
   font-size: 16px;
   font-weight: 500;
}
.anatomy_sub .timeline_view{
    margin: 14px 0px;
    padding: 10px 0px;
}
.anatomy_sub .timeline_view:hover{
    background: rgba(225, 245, 254, 0.5);
}
.anatomy_sub .timeline_view .image_part{
    background: rgba(63, 81, 181, 0.1);
    border-radius: 4px;
    padding: 4px 4px;
    text-align: center;
}
.anatomy_sub .timeline_view .image_part img{
    width: 20px;
}
.anatomy_sub .timeline_view .mid_sec p{
    font-size: 14px;
    color: #212121;
    margin-bottom: 0px;
    line-height: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.anatomy_sub .timeline_view .mid_sec ul{
    margin: 0px;
    padding: 0px;
}
.anatomy_sub .timeline_view .mid_sec ul li{
    margin: 0px 10px;
    font-size: 13px;
    color: #757575;
}
.anatomy_sub .timeline_view .mid_sec ul li.dots::before {
    content: "\2022";
    color: #757575;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
}
.anatomy_sub .timeline_view .mid_sec li:first-child{
    margin: 0px 0px;
}
.anatomy_sub .timeline_view .mid_sec ul li.check_icon img {
    width: 16px;
}
.anatomy_sub .timeline_view .faicon {
    text-align: right;
    color: #757575;
}
.anatomy_sub .timeline_view .btn_part .review_btn {
    font-size: 11px;
    background: #0096FF;
    padding: 2px 4px;
}
.anatomy_sub .timeline_view .pause {
    border-radius: 50px;
    width: 24px;
    height: 24px;
    border: 2px solid rgba(255, 109, 40, 0.2);
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}
.anatomy_sub .timeline_view .pause .fa-pause {
    font-size: 10px;
    color: #FF6D28;
}



/****** Anatomy Subject > Start Qbank  **********/

.start_qbank .heading_sec h2{
    font-size: 16px;
    color: #212121;
}
.start_qbank .heading_sec h3{
    font-size: 20px;
    color: #212121;
}
.start_qbank .heading_sec p{
    font-size: 16px;
    color: #757575;
}
.start_qbank .modes .tab-wrapper{
    text-align: center;
	display: block;
	margin: auto;
    max-width: 500px;
}
.start_qbank .modes .tabs{
    margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
    background: #F5F5F5;
    border-radius: 50px;
    /* border: solid 1px #000; */
}
.start_qbank .modes .tab-link{
	list-style: none;
    padding: 8px 59px;
	color: #aaa;
	cursor: pointer;
	font-weight: 600;
	transition: all ease 0.5s;
	border-bottom: solid 3px rgba(255,255,255,0.0);
	letter-spacing: 2px;
}
.start_qbank .modes .tab-link img{
    width: 18px;
    height: 18px;
}
.start_qbank .modes .tab-link:nth-of-type(1).active{
	color: #54B435;
    background: rgba(84, 180, 53, 0.1);
    border-radius: 50px;
    filter: brightness(0) saturate(100%) invert(54%) sepia(97%) 
    saturate(326%) hue-rotate(60deg) brightness(92%) contrast(95%);
}
.start_qbank .modes .tab-link:nth-of-type(2).active{
    color: #A31ACB;
    background: rgba(163, 26, 203, 0.1);
    border-radius: 50px;
    filter: brightness(0) saturate(100%) invert(18%) sepia(83%) 
    saturate(6022%) hue-rotate(283deg) brightness(88%) contrast(95%);
}
.start_qbank .buttons .qbank_button{
    background: #0096FF;
    color: #fff;
    width: 300px;
    margin-top: 6%;
    border-radius: 8px;
}
.start_qbank .topic_part {
    margin: 30px 0px 0px;
}
.start_qbank .topic_part p{
    font-size: 14px;
    color: #757575;
}
.start_qbank .notes{
    margin: 30px 0px 30px;
}
.start_qbank .notes ul{
    display: flex;
    align-items: center;
}
.start_qbank .notes li{
    display: inline-block;
    color: #757575;
    font-size: 14px;
    margin-right: 12px;
}
.start_qbank .notes li img{
    width: 24px;
}
.start_qbank .notes li.notes_bg{
    background: #FFF59D;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    text-align: center;
    padding: 8px 0px;
}



/****** Anatomy Subject > Start Qbank > Start Question  **********/

.start_question .qsn_hdng h2{
    font-size: 16px;
    color: #212121;
}
.start_question .icons {
    text-align: right;
}
.start_question .icons .fa-bookmark-o{
    font-size: 16px;
    color: #212121;
    margin-right: 10px;
}
.start_question .icons img{
    width: 20px;
    margin-bottom: 2px;
}
.start_question .qsn_text {
    margin: 40px 0px 20px;
}
.start_question .qsn_text p{
    font-size: 16px;
    color: #212121;
}
.start_question .qsn_text img{
    max-width: 100%;
    width: 370px;
}
.start_question .qsn_type p{
    border: solid 1px #E0E0E0;
    border-radius: 8px;
    padding: 10px 20px;
    color: #212121;
    font-weight: 500;
    margin: 20px 0px;
}
.start_question .qsn_type span.srnmbr {
    margin-right: 16px;
}
.start_question .qsn_type p.wrong_brdr{
    border: solid 1px #FF1E1E !important;
}
.start_question .qsn_type span.wrong {
    background: #FF1E1E;
    border: solid 1px #E0E0E0;
    color: #fff;
    padding: 0px 10px 0px;
    text-align: center;
    display: inline-block;
}
.start_question .qsn_type p.right_brdr{
    border: solid 1px #54B435 !important;
}
.start_question .qsn_type span.right {
    background: #54B435;
    border: solid 1px #E0E0E0;
    color: #fff;
    padding: 0px 10px 0px;
    text-align: center;
    display: inline-block;
}
.start_question .qsn_type .marked{
    position: absolute;
    top: 45px;
    right: 0;
    color: #FF1E1E;
    font-size: 14px;
}
.start_question .qsn_type .missed{
    position: absolute;
    top: 45px;
    right: 0;
    color: #54B435;
    font-size: 14px;
}



/****** Start Qbank > Start Question  > Explanation ********/

.explanation .exp_tbl {
    margin: 40px 0px 0px;
}
.explanation .exp_tbl h2{
   font-size: 16px;
   color: #0096FF;
   margin-bottom: 20px;
}
.explanation .exp_tbl .table td, .table th {
    border: 1px solid #dee2e6;
}
.explanation .text-description p{
    font-size: 16px;
    margin: 20px 0px;
}
.explanation .video_section{
    text-align: center;
    margin: 20px 0px;
}
.explanation .references {
    margin: 20px 0px;
}
.explanation .references h2{
    color: #212121;
    font-size: 16px;
    margin-bottom: 20px;
}
.explanation .references ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
}
.explanation .references ul li{
    display: inline-block;
    margin-right: 10px;
    color: #212121;
    font-weight: 500;
}
.explanation .references ul li.sid_box img{
    background: rgba(234, 4, 126, 0.1);
    padding: 10px 10px;
    border-radius: 4px;
}
.explanation .references ul li span.botm-fnt{
    display: block;
    color: #757575;
    font-weight: 400;
}
.explanation .copy_code{
    margin: 20px 0px;
}
.explanation .copy_code h2 {
    color: #757575;
    font-size: 16px;
}
.explanation .copy_code input {
    width: 300px;
    font-size: 16px;
    font-weight: 500;
    border: 0px;
}
.explanation .copy_code .copy_btn{
    background: rgba(0, 150, 255, 0.1);
    color: #0096FF;
    padding: 6px 20px;
    font-weight: 500;
    border-radius: 4px;
    float: right;
    margin-top: -18px;
}
.explanation .solution{
    margin: 20px 0px;
}
.explanation .solution ul li{
   display: inline-block; 
   font-size: 16px;
   font-weight: 500;
   color: #212121;
   margin-right: 10px;
}
.explanation .solution ul li.like{
    background: #FFF3E0;
    float: right;
    padding: 10px 10px;
    border-radius: 4px;
}
.explanation .solution ul li.like img{
    width: 30px;
}
.explanation .next_btn {
    text-align: center;
    margin: 4% 0px 20px;
}
.explanation .next_btn button.btn.next_btn {
    background: #0096FF;
    width: 300px;
}


/****** Start Qbank > Start Question  > Explanation > Attempt List ********/

.attempt_list .correct_list {
    margin: 30px 0px 30px;
}
.attempt_list .correct_list p{
    font-size: 16px;
    color: #757575;
    text-align: center;
    padding: 16px 0px;
    border-radius: 8px;
}
.attempt_list .correct_list span.correct{
    color: #54B435;
    font-size: 20px;
    font-weight: 500;
}
.attempt_list .correct_list span.incorrect{
    color: #FF4949;
    font-size: 20px;
    font-weight: 500;
}
.attempt_list .correct_list span.missed{
    color: #FF9551;
    font-size: 20px;
    font-weight: 500;
}
.attempt_list .correct_list span.unattmp{
    color: #393E46;
    font-size: 20px;
    font-weight: 500;
}
.attempt_list .summary_atmp {
    margin: 30px 0px;
}
.attempt_list .summary_atmp h2{
    color: #393E46;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}
.attempt_list .summary_atmp a{
    border: solid 1px #e9eef2;
    padding: 10px 22px;
    margin: 10px 10px;
    color: #212121;
    font-size: 20px;
    border-radius: 4px;
    display: inline-block;
}
.attempt_list .summary_atmp a.grn{
   color: #54B435;
   border: solid 1px #54B435;
}
.attempt_list .summary_atmp a.red{
    color: #FF4949;
    border: solid 1px #FF4949;
}
.attempt_list .summary_atmp a.orng{
    color: #FF9551;
    border: solid 1px #FF9551;
}
.attempt_list .summary_atmp a.blck{
    color: #393E46;
    border: solid 1px #393E46;
}
.attempt_list .btn_grp button.btn{
    background: #EEEEEE;
    color: #757575;
    width: 200px;
    padding: 10px 10px;
    margin-right: 10px;
    border-radius: 4px;
}
.attempt_list .btn_grp {
    margin-top: 10%;
}
.attempt_list .btn_grp button.btn.resume_btn{
    background: #0096FF;
    color: #fff;
}



/****** Start Qbank > Start Question  > Explanation > Attempt Grid List  ********/

.attempt_list_grid .summary_atmp_grid h2{
    color: #393E46;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}
.summary_atmp_grid ul li{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.summary_atmp_grid ul li span.count{
    min-width: 44px;
    min-height: 44px;
    float: left;
    border: solid 1px #e9eef2;
    padding: 10px 16px;
    color: #212121;
    font-size: 20px;
    border-radius: 4px;
    margin-right: 20px;
}
.summary_atmp_grid li.text_dec {
    width: 95%;
}
.summary_atmp_grid .text_dec p{
    font-size: 14px;
}
.summary_atmp_grid ul li .count.grn{
    color: #54B435 !important;
    border: solid 1px #54B435 !important;
}
.summary_atmp_grid ul li .count.red{
    color: #FF4949 !important;
    border: solid 1px #FF4949 !important;
}
.summary_atmp_grid ul li .count.orng{
    color: #FF9551 !important;
    border: solid 1px #FF9551 !important;
}
.summary_atmp_grid ul li .count.blck{
    color: #393E46 !important;
    border: solid 1px #393E46 !important;
}


/****** Start Qbank > Start Question  > Explanation > Settings  ********/

.settings .heading h2 {
    color: #393E46;
    font-size: 20px;
    font-weight: 500;
    margin: 40px 0px;
}
.settings .setting_sec ul li{
    display: inline-block;
    color: #757575;
    font-size: 18px;
}
.settings .setting_sec ul li span.counter{
    background: rgba(84, 180, 53, 0.1);
    padding: 8px 10px 14px;
    color: #212121;
    font-size: 20px;
    border-radius: 4px;
    margin-right: 20px;
}
.settings .setting_sec ul li span.counter.bg_1{
    background: rgba(255, 30, 30, 0.1) !important;
}
.settings .setting_sec ul li span.counter.bg_2{
    background: rgba(163, 26, 203, 0.1) !important;
}
.settings .setting_sec ul li span.counter.bg_3{
    background: rgba(0, 0, 0, 0.1) !important;
}
.settings .setting_sec ul li span.counter.bg_4{
    background: rgba(0, 150, 255, 0.1) !important;
}
.settings .setting_sec ul li span.counter img{
    width: 30px;
}
.settings .setting_sec ul li.toggle{
    float: right;
}
.settings .setting_sec {
    margin-bottom: 40px;
}
.settings .setting_sec .switch {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 18px;
    margin: 9px;
}
.settings .setting_sec .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.settings .setting_sec .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: solid 2px #000;
    -webkit-transition: .4s;
    transition: .4s cubic-bezier(0,1,0.5,1);
    border-radius: 4px;
}
.settings .setting_sec .slider:after {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 1px;
    background-color: #000;
    -webkit-transition: .4s;
    transition: .4s cubic-bezier(0,1,0.5,1);
    border-radius: 3px;
}
.settings .setting_sec .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s cubic-bezier(0,1,0.5,1);
    border-radius: 3px;
}
.settings .setting_sec input:checked + .slider {
    background-color: #000;
}
.settings .setting_sec input:focus + .slider {
    box-shadow: 0 0 4px #7efa70;
}
.settings .setting_sec input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(16px);
}
.settings .setting_sec .slider.round {
    border-radius: 34px;
}
.settings .setting_sec .slider.round:before {
    border-radius: 50%;
}
.settings .setting_sec .slider.round:after {
    border-radius: 50%;
}
.settings .btn_grp button.btn{
    background: #EEEEEE;
    color: #757575;
    width: 200px;
    padding: 10px 10px;
    margin-right: 10px;
    border-radius: 4px;
}
.settings .btn_grp {
    margin-top: 10%;
}
.settings .btn_grp button.btn.resume_btn{
    background: #0096FF;
    color: #fff;
}
.settings .minus, .plus{
    width: 24px !important;
    height: 24px !important;
    background: #EEEEEE;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 25%);
    vertical-align: middle;
    text-align: center;
    border-radius: 50px;
    line-height: 22px;
    display: inline-block;
    font-size: 26px;
}
.settings .number input{
    height:34px;
    width: 100px;
    text-align: center;
    font-size: 26px;
    border: 0px solid #ddd;
    border-radius:4px;
    display: inline-block;
    vertical-align: middle;
}
.settings .number ::selection {
    background: none !important;
} 
  


/****** Start Qbank > Start Question  > setting > qbank Final  ********/

.qbank_final .head_sec h2{
    font-size: 16px;
    color: #212121;
}
.qbank_final .head_sec h3{
    font-size: 16px;
    color: #757575;
    font-weight: 400;
}
.qbank_final .total_qsn {
    margin: 40px 0px;
}
.qbank_final .total_qsn p{
    background: rgba(84, 180, 53, 0.1);
    width: 170px;
    color: #54B435;
    border-radius: 8px;
    height: 48px;
    padding: 0px 0px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.qbank_final .total_qsn span.count{
    background: #54B435;
    border-radius: 0px 8px 8px 0px;
    color: #fff;
    float: right;
    padding: 10px 10px;
}
.qbank_final .total_qsn p.incorrect{
    background: rgba(255, 73, 73, 0.1);
    color: #FF4949;
}
.qbank_final .total_qsn span.count.clr_1{
    background: #FF4949;
}
.qbank_final .total_qsn p.missed{
    background: rgba(255, 149, 81, 0.1);
    color: #FF9551;
}
.qbank_final .total_qsn span.count.clr_2{
    background: #FF9551;
}
.qbank_final .piechrt_hdng h2{
    font-size: 16px;
    color: #212121;
    margin: 40px 0px 0px;
}
.qbank_final .pie-chart {
    font-size:1.25em;
    display:grid;
    place-items: center;
    background:
    conic-gradient(
    hsl(105deg 55% 46%) 35%,
    hsl(0deg 100% 64%) 0,
    hsl(0deg 100% 64%) 50%,
    hsl(23deg 100% 66%) 0,
    hsl(23deg 100% 66%) 70%,
    hsl(0deg 0% 93%) 0,
    hsl(0deg 0% 93%) 100%
    );
    position: relative;
    width: 220px;
    height: 220px;
    margin: 0;
    border-radius:50%;
    text-align: center;
    float: right;
    margin: 24px 0px 0px;
}
.qbank_final .inner {
  display:grid;
  place-items:center;
  background:white;
  width:180px;
  height:180px;
  border-radius:50%;
}
.qbank_final .indepth_hd h3{
    font-size: 16px;
    color: #212121;
    margin: 40px 0px 0px;
}
.qbank_final .indepth_hd span.info_part{
    float: right;
}
.qbank_final .indepth_hd span.info_part img{
    width: 24px;
}
.qbank_final .bar_chart_sec .graph {
	height: 283px;
	position: relative;
    width: 720px;
    margin: 0 auto;
}

/* Legend */
.qbank_final .bar_chart_sec .legend {
	background: #f0f0f0;
	border-radius: 4px;
	bottom: 0;
	position: absolute;
	text-align: left;
	width: 540px;	
}
.qbank_final .bar_chart_sec .legend li {
	display: block;
	float: left;
	height: 20px;
	margin: 0;
	padding: 10px 30px;
	width: 120px;
}
.qbank_final .bar_chart_sec .legend span.icon {
	background-position: 50% 0;
	border-radius: 2px;
	display: block;
	float: left;
	height: 16px;
	margin: 2px 10px 0 0;
	width: 16px;	
}

/* X-Axis */
.qbank_final .bar_chart_sec .x-axis {
	top: 0;
	color: #555;
	position: absolute;
	text-align: center;
	width: 100%;
}
.qbank_final .bar_chart_sec .x-axis li {
    float: left;
    margin: 0 0px 0 22px;
    padding: 5px 0;
    width: 6%;	
}
.qbank_final .bar_chart_sec .x-axis li span {
  float: left;
}
/* Y-Axis */
.qbank_final .bar_chart_sec .y-axis {
	color: #555;
	position: absolute;
	text-align: right;
	width: 100%;
}
.qbank_final .bar_chart_sec .y-axis li {
	display: block;
	height: 62px;
	width: 100%;
}
.qbank_final .bar_chart_sec .y-axis li span {
	display: none;
	margin: -10px 0 0 -60px;
	padding: 0 10px;
	width: 40px;
}

/* Graph Bars */
.qbank_final .bar_chart_sec .bars {
	height: 253px;
	position: absolute;
	width: 100%;
	z-index: 10;
    margin: 30px 0px 0px;
    border-bottom: 1px solid #ccc;
} 
.qbank_final .bar_chart_sec .bar-group {
	float: left;
	height: 100%;
	margin: 0 15px;
	position: relative;
	width: 6%;
}
.qbank_final .bar_chart_sec .bar-group:last-child {
	margin-right: 0px;
}
.qbank_final .bar_chart_sec .bar1 {
	border-radius: 20px 20px 0 0;
    bottom: 0px !important;
	cursor: pointer;	
	height: 0;
	position: absolute;
	text-align: center;
	width: 24px;
}
.qbank_final .bar_chart_sec .bar1 span {
	background: #fefefe;
	border-radius: 3px;
	left: -8px;
	display: none;
	margin: 0;
	position: relative;
	text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
	width: 40px;
	z-index: 20;
	-webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 1px 4px;
	box-shadow: rgba(0, 0, 0, 0.6) 0 1px 4px;
}
.qbank_final .bar_chart_sec .bar1:hover span {
	display: block;
	margin-top: -25px;
}
.qbank_final .bar_chart_sec #data-table.js {
	display: none;
}
.qbank_final .bar_chart_sec .bar1 span {
	background: #fefefe;
}
.qbank_final .bar_chart_sec .fig0 {
    background: linear-gradient(0deg, #9E55FF 0%, #55A4F2 100%);
}
.qbank_final .bar_chart_sec h2 {
    font-size: 14px;
    color: #212121;
    margin: 20px 0px;
    text-align: center;
}
.qbank_final .time_section {
    margin: 30px 0px 30px;
}
.qbank_final .time_section ul{
    display: flex;
}
.qbank_final .time_section ul li{
    display: inline-flex;
    width: 100%;
}
.qbank_final .time_section ul li .img_sec img{
    width: 18px;
    margin-right: 16px;
}
.qbank_final .time_section ul li .text_sec h4{
    color: #FF1E1E;
    font-size: 18px;
    margin: 0px 0px 8px;
}
.qbank_final .time_section ul li .text_sec h4.clr_1{
    color: #A31ACB;
}
.qbank_final .time_section ul li .text_sec h4.clr_2{
    color: #0096FF;
}
.qbank_final .time_section ul li .text_sec h4.clr_3{
    color: #FF6D28;
}
.qbank_final .time_section ul li .text_sec p{
    font-size: 20px;
    color: #757575;
    margin: 0px 0px;
}
.qbank_final .view_solution{
    margin: 80px 0px 40px;
}
.qbank_final .view_solution ul li{
    display: inline-block;
    color: #212121;
}
.qbank_final .view_solution ul li.img_prt{
    background: rgba(36, 120, 129, 0.1);
    border-radius: 4px;
    padding: 10px 10px;
    margin-right: 20px;
}
.qbank_final .view_solution ul li.img_prt img{
    width: 24px;
}
.qbank_final .view_solution ul li.fa_icn{
    float: right;
    margin: 10px 0px;
}
.qbank_final .colaps_sec .top_sec{
    margin: 80px 0px 40px;
}
.qbank_final .colaps_sec .top_sec ul li{
    display: inline-block;
    color: #212121;
}
.qbank_final .colaps_sec .top_sec ul li.img_prt{
    background: rgba(63, 81, 181, 0.1);
    border-radius: 4px;
    padding: 10px 14px;
    margin-right: 20px;
}
.qbank_final .colaps_sec .top_sec ul li.img_prt img{
    width: 16px;
}
.qbank_final .colaps_sec .top_sec ul li.fa_icn{
    float: right;
    margin: 10px 0px;
}
.qbank_final .colaps_sec .collapse {
    display: none;
}
.qbank_final .colaps_sec .collapse.in {
    display: block;
}
.qbank_final .colaps_sec .panel-default>.panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #e4e5e7;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.qbank_final .colaps_sec .panel-default>.panel-heading a {
    display: block;
    padding: 10px 0px;
    font-size: 16px;
    font-weight: 500;
    color: #212121;
}
.qbank_final .colaps_sec .panel-default>.panel-heading a:after {
    content: "";
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    transition: transform .25s linear;
    -webkit-transition: -webkit-transform .25s linear;
}
.qbank_final .colaps_sec .panel-default>.panel-heading a[aria-expanded="true"] {
    border-bottom: solid 1px #ececec;
}
.qbank_final .colaps_sec .panel-default>.panel-heading a[aria-expanded="true"]:after {
    content: "\2212";
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.qbank_final .colaps_sec .panel-default>.panel-heading a[aria-expanded="false"]:after {
    content: "\002b";
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.qbank_final .colaps_sec .accordion-option {
    width: 100%;
    float: left;
    clear: both;
    margin: 15px 0;
}
.qbank_final .colaps_sec .accordion-option .title {
    font-size: 20px;
    font-weight: bold;
    float: left;
    padding: 0;
    margin: 0;
}
.qbank_final .colaps_sec .accordion-option .toggle-accordion {
    float: right;
    font-size: 16px;
    color: #6a6c6f;
}
.qbank_final .colaps_sec .accordion-option .toggle-accordion:before {
    content: "Expand All";
}
.qbank_final .colaps_sec .accordion-option .toggle-accordion.active:before {
    content: "Collapse All";
}
.qbank_final .crct_part{
    text-align: center;
    margin: 10px 0px 30px;
}
.qbank_final .crct_part h4{
    color: #54B435;
    font-size: 20px;
    margin: 0px 0px;
}
.qbank_final .crct_part h4.clr_1{
    color: #FF4949
}
.qbank_final .crct_part h4.clr_2{
    color: #FF9551
}
.qbank_final .crct_part h4.clr_3{
    color: #0096FF
}
.qbank_final .crct_part p{
    color: #757575;
    font-size: 16px;
    margin: 0px 0px;
    
}
.qbank_final .experience{
    margin: 10% 0px;
    text-align: center;
}
.qbank_final .experience h4{
    font-size: 16px;
    color: #212121;
    margin: 14px 0px;
}
.qbank_final .experience p{
    font-size: 14px;
    color: #757575;
    margin: 4px 0px 20px;
}
.qbank_final .experience ul li{
   display: inline-block;
   margin: 0px 10px;
}
.qbank_final .button_group{
    margin: 0px 0px 40px;
}
.qbank_final .button_group button.btn.review {
    background: #F55353;
}
.qbank_final .button_group button.btn {
    background: #0096FF;
    width: 200px;
    padding: 10px 0px;
    color: #fff;
    margin-right: 10px;
}


/****** Start Qbank > Start Question  > qbank final > Information  ********/

.information .info_hdng h2{
    font-size: 16px;
    color: #0096FF;
}
.information .close_icons{
    text-align: right;
}
.information .close_icons img{
    width: 20px;
    margin-bottom: 2px;
}
.information .info_heading{
    margin: 40px 0px 20px;
}
.information .info_heading ul li{
    display: inline-block;
    width: 100%;
    margin: 10px 0px 10px;
}
.information .info_heading ul li .box_img{
    width: 5%;
    float: left;
    background: rgba(84, 180, 53, 0.1);
    border-radius: 4px;
    padding: 14px 0px;
    margin-right: 10px;
    text-align: center;
}
.information .info_heading ul li .box_img.bg_1{
    background: rgba(163, 26, 203, 0.1);
}
.information .info_heading ul li .box_img.bg_2{
    background: rgba(0, 150, 255, 0.1);
}
.information .info_heading ul li .box_img.bg_3{
    background: rgba(255, 109, 40, 0.1);
}
.information .info_heading ul li .box_img img{
    width: 24px;
}
.information .info_heading ul li .info_text{
    width: 94%;
    float: left;
}
.information .info_heading ul li .info_text p{
    font-size: 14px;
    color: #757575;
}
.information .info_heading ul li .info_text span.timer_text{
    display: block;
    font-size: 16px;
    color: #212121;
    font-weight: 500;
}


/****** Start Qbank > Start Question  > qbank final > Reviews  ********/

.reviews .sticky_scrol {
    position: sticky;
    top: 0px;
    background: #fff;
    z-index: 1000;
}
.reviews .review_tabs_sec .nav-item a.nav-link {
    font-size: 14px;
    border: solid 1px #E0E0E0;
    color: #757575;
    border-radius: 50px;
    margin-right: 30px;
    padding: 6px 20px;
    text-align: center;
}
.reviews .review_tabs_sec .nav-item a.nav-link.active {
    color: #212121;
    background: none;
    border: solid 1px #212121;
}
.reviews .review_tabs_sec .qsn_list{
    margin: 40px 0px 20px;
}
.reviews .review_tabs_sec .qsn_list h3{
    font-size: 16px;
    color: #757575;
    margin-bottom: 14px;
}
.reviews .review_tabs_sec .qsn_list ul li{
    display: inline-block;
}
.reviews .review_tabs_sec .qsn_list ul li a.crct{
    border: solid 1px #54B435;
    color: #54B435;
}
.reviews .review_tabs_sec .qsn_list ul li a.crct:hover{
    background: rgba(84, 180, 53, 0.2);
}
.reviews .review_tabs_sec .qsn_list ul li a.incrct{
    border: solid 1px #FF9551;
    color: #FF9551;
}
.reviews .review_tabs_sec .qsn_list ul li a.incrct:hover{
    background: rgba(255, 149, 81, 0.2);
}
.reviews .review_tabs_sec .qsn_list ul li a.miss{
    border: solid 1px #FF4949;
    color: #FF4949;
}
.reviews .review_tabs_sec .qsn_list ul li a.miss:hover{
    background: rgba(255, 73, 73, 0.2);
}
.reviews .review_tabs_sec .qsn_list ul li a.bookmrk{
    border: solid 1px #393E46;
    color: #393E46;
}
.reviews .review_tabs_sec .qsn_list ul li a.bookmrk:hover{
    background: rgba(57, 62, 70, 0.2);
}
.reviews .review_tabs_sec .qsn_list ul li a{
    color: #757575;
    border: solid 1px #e9eef2;
    margin-right: 12px;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 14px;
    border-radius: 4px;
    display: block;
}
.reviews .review_tabs_sec .correct_section{
    margin: 30px 0px 20px;
}
.reviews .review_tabs_sec .correct_section h4{
    font-size: 14px;
    color: #212121;
}
.reviews .review_tabs_sec .correct_section img{
    max-width: 100%;
    width: 400px;
}
.reviews .review_tabs_sec .correct_section p{
    border: solid 1px #E0E0E0;
    border-radius: 8px;
    padding: 10px 20px;
    color: #212121;
    font-weight: 500;
    margin: 20px 0px;
}
.reviews .review_tabs_sec .correct_section span.box{
    color: #212121;
    padding: 0px 10px 0px;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
}
.reviews .review_tabs_sec .correct_section p.brdr_grn{
    border: solid 1px #54B435;
}
.reviews .review_tabs_sec .correct_section span.box.correct{
    background: #54B435;
    color: #fff;
}
.reviews .review_tabs_sec .explan_tbl{
    margin: 20px 0px;
}
.reviews .review_tabs_sec .explan_tbl h2{
    font-size: 16px;
    color: #0096FF;
    margin-bottom: 14px;
}
.reviews .review_tabs_sec .explan_tbl .table td, .table th {
    border: 1px solid #dee2e6;
}
.reviews .review_tabs_sec .medical_imag{
    text-align: center;
}
.reviews .review_tabs_sec .medical_imag img{
    width: 300px;
}
.reviews .review_tabs_sec .text-description{
    margin: 20px 0px;
}
.reviews .review_tabs_sec .text-description p{
    font-size: 14px;
}
.reviews .review_tabs_sec .video_section {
    text-align: center;
    margin: 20px 0px;
}
.reviews .review_tabs_sec .references {
    margin: 20px 0px;
}
.reviews .review_tabs_sec .references h2{
    color: #212121;
    font-size: 16px;
    margin-bottom: 20px;
}
.reviews .review_tabs_sec .references ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
}
.reviews .review_tabs_sec .references ul li{
    display: inline-block;
    margin-right: 10px;
    color: #212121;
    font-weight: 500;
}
.reviews .review_tabs_sec .references ul li.sid_box img{
    background: rgba(234, 4, 126, 0.1);
    padding: 10px 10px;
    border-radius: 4px;
}
.reviews .review_tabs_sec .references ul li span.botm-fnt{
    display: block;
    color: #757575;
    font-weight: 400;
}
.reviews .review_tabs_sec .btn_grp{
    margin: 40px 0px 40px;
}
.reviews .review_tabs_sec .btn_grp .btn{
    background: #EEEEEE;
    color: #757575;
    width: 200px;
    padding: 10px 10px;
    margin-right: 10px;
    border-radius: 4px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 14px;
}
.reviews .review_tabs_sec .btn_grp .btn.next_btn{
    background: #0096FF;
    color: #fff;
}



/****** QBank > Customize QBank **********/

.customize_qbank .qsn_text p{
    font-size: 16px;
    color: #212121;
    font-weight: 500;
    margin-bottom: 0px;
}
.customize_qbank .selector_tab{
   float: right;
}
.customize_qbank .selector_tab .form-control{
    width: 60px;
    padding: 6px 6px;
    background: #f5f5f5;
    border: none;
}
.customize_qbank .level {
    margin: 30px 0px 0px;
}
.customize_qbank .level ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
}
.customize_qbank .level ul li{
    display: inline-block;
    margin-right: 10px;
    color: #212121;
    font-weight: 500;
}
.customize_qbank .level ul li.img_box img{
    background: rgba(255, 23, 0, 0.1);
    padding: 10px 10px;
    border-radius: 4px;
    width: 46px;
}
.customize_qbank .qsn_level {
    margin: 30px 0px 0px;
}
.customize_qbank .qsn_level .tabs{
    margin: 0;
	padding: 0;
	display: flex;
}
.customize_qbank .qsn_level .tab-link{
    margin-right: 20px;
    list-style: none;
    padding: 8px 0px;
    text-align: center;
    color: #BDBDBD;
    background: #F5F5F5;
    font-size: 16px;
    cursor: pointer;
    width: 162px;
    font-weight: 500;
    border-radius: 6px;
}
.customize_qbank .qsn_level .tab-link:last-child{
    margin-right: 0px;
}
.customize_qbank .qsn_level .tab-link.active{
    color: #333;
	border-color: #333;
}
.customize_qbank .qsn_level .tab-link:nth-of-type(1).active{
    color: #fff;
    background: #54B435;
}
.customize_qbank .qsn_level .tab-link:nth-of-type(2).active{
    color: #fff;
    background: #0096FF;
}
.customize_qbank .qsn_level .tab-link:nth-of-type(3).active{
    color: #fff;
    background: #EEC63B;
}
.customize_qbank .qsn_level .content-wrapper{
	padding: 40px 0px;
}
.customize_qbank .qsn_level .tab-content{
    display: none;
	color: #888;
	font-weight: 300;
	font-size: 15px;
	transform: translateY(15px);
	animation: fadeIn 0.5s ease 1 forwards;
}
.customize_qbank .qsn_level .tab-content.active{
	display: block;
}



.customize_qbank .level_select{
    margin: 0px 0px 40px;
}
.customize_qbank .level_select ul li{
    border: solid 1px #EEEEEE;
    width: 120px;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    padding: 10px 10px;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 400;
}

.customize_qbank .option_list.active {
    background: #f5f5f5;
}

.customize_qbank .level_select ul li span.img_part{
    display: block;
}
.customize_qbank .level_select ul li img{
    width: 26px;
    margin-bottom: 10px;
}




.customize_qbank .qsn_from ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
}
.customize_qbank .qsn_from ul li{
    display: inline-block;
    margin-right: 10px;
    color: #212121;
    font-weight: 500;
}
.customize_qbank .qsn_from ul li.img_box img{
    background: rgba(163, 26, 203, 0.1);
    padding: 10px 10px;
    border-radius: 4px;
    width: 46px;
}
.customize_qbank .checkbox_list {
    margin: 30px 0px 0px;
}
.customize_qbank .checkbox_list .label_text {
    display: block;
    position: relative;
    margin-bottom: 0px;
    cursor: pointer;
    color: #212121;
    font-size: 16px;
    border-bottom: solid 1px #f2f2f2;
    padding: 20px 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.customize_qbank .checkbox_list .label_text input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.customize_qbank .checkbox_list .checkmark {
    position: absolute;
    top: 22px;
    right: 10px;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50px;
    border: solid 1px #BDBDBD;
}
.customize_qbank .checkbox_list .label_text input:checked ~ .checkmark {
    background-color: #2196F3;
    border: solid 1px #2196F3;
}
.customize_qbank .checkbox_list .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.customize_qbank .checkbox_list .label_text input:checked ~ .checkmark:after {
    display: block;
}
.customize_qbank .checkbox_list .label_text .checkmark:after {
    left: 6px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.checkbox_list_nw .checkbox-custom, .radio-custom {
    opacity: 0;
    position: absolute;   
}
.checkbox_list_nw .checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}
.checkbox_list_nw .checkbox-custom-label, .radio-custom-label {
    position: relative;
}
.checkbox_list_nw .checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    line-height: 18px;
    padding: 0px;
    margin-right: 10px;
    text-align: center;
    position: absolute;
    right: 0;
}
.checkbox_list_nw .radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}
.checkbox_list_nw .radio-custom:checked + .radio-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    color: #fff;
    background: #2196F3;
    border: solid 1px #2196F3;
}
.checkbox_list_nw label.radio-custom-label {
    width: 100%;
    color: #212121;
    font-size: 16px;
} 
.checkbox_list_nw {
    margin-top: 20px;
}
.checkbox_list_nw .radio_part{
    border-bottom: solid 1px #f5f5f5;
    padding: 10px 0px;
}
.customize_qbank .btn_sec button.btn.next_button {
    background: #0096FF;
    width: 200px;
    border-radius: 4px;
    font-size: 16px;
    padding: 8px 10px;
    margin: 100px 0px 40px;
}





/****** QBank > Customize QBank > All Subject **********/

.all_subject .checkbox_list_sub{
    margin: 0px 0px 0px;
}
.all_subject .checkbox_list_sub .label_text_nw {
    display: block;
    position: relative;
    margin: 20px 0px;
    padding-left: 30px;
    padding-bottom: 20px;
    cursor: pointer;
    color: #212121;
    font-size: 16px;
    border-bottom: solid 1px #f2f2f2;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.all_subject .checkbox_list_sub .label_text_nw input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.all_subject .checkbox_list_sub .checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #fff;
    border: solid 1px #BDBDBD;
}
.all_subject .checkbox_list_sub .label_text_nw input:checked ~ .checkmark {
    background: #2196F3;
    border: solid 1px #2196F3;
}
.all_subject .checkbox_list_sub .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.all_subject .checkbox_list_sub .label_text_nw input:checked ~ .checkmark:after {
    display: block;
}
.all_subject .checkbox_list_sub .label_text_nw .checkmark:after {
    left: 6px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.all_subject .checkbox_list_sub span.topics {
    float: right;
    color: #757575;
}




/****** QBank > Customize QBank > Choose Mode **********/

.choose_mode .preference ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
}
.choose_mode .preference ul li{
    display: inline-block;
    margin-right: 10px;
    color: #212121;
    font-weight: 500;
}
.choose_mode .preference ul li.img_box img{
    background: rgba(255, 23, 0, 0.1);
    padding: 10px 10px;
    border-radius: 4px;
    width: 46px;
}
.choose_mode .mode_hdng {
    margin: 40px 0px 20px;
}
.choose_mode .mode_hdng h4{
    font-size: 16px;
    color: #757575;
    margin-bottom: 0px;
}
.choose_mode .select_mode .img_sec{
    background: rgba(57, 181, 224, 0.1);
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choose_mode .select_mode .img_sec.nw_bg{
    background: rgba(84, 180, 53, 0.1);
}
.choose_mode .select_mode .img_sec img{
    width: 24px;
    height: 24px;
}
.choose_mode .select_mode .text_sec h3{
    font-size: 18px;
    color: #212121;
    font-weight: 500;
}
.select_mode .text_sec p{
    font-size: 16px;
    color: #757575;
    margin-bottom: 0px;
}
.choose_mode .select_mode .icon_sec .label_text {
    display: block;
    position: relative;
    margin-bottom: 0px;
    cursor: pointer;
    color: #212121;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.choose_mode .select_mode .icon_sec .label_text input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.choose_mode .select_mode .icon_sec .checkmark {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50px;
    border: solid 1px #BDBDBD;
}
.choose_mode .select_mode .icon_sec .label_text input:checked ~ .checkmark {
    background-color: #2196F3;
    border: solid 1px #2196F3;
}
.choose_mode .select_mode .icon_sec .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.choose_mode .select_mode .icon_sec .label_text input:checked ~ .checkmark:after {
    display: block;
}
.choose_mode .select_mode .icon_sec .label_text .checkmark:after {
    left: 6px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/****** QBank > Customize QBank > Your QBank **********/

.your_qbank .crt_qbank ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.your_qbank .crt_qbank ul li{
    display: inline-block;
    margin-right: 10px;
    color: #212121;
    font-weight: 500;
}
.your_qbank .crt_qbank ul li.sid_box img{
    background: rgba(63, 81, 181, 0.1);
    padding: 8px 10px;
    border-radius: 4px;
    width: 40px;
}
.your_qbank .crt_qbank ul li span.botm-fnt{
    display: block;
    color: #757575;
    font-weight: 400;
}
.your_qbank .subject_listing{
    margin: 40px 0px 0px;
    padding: 0px 10%;
}
.your_qbank .subject_listing ul li{
    color: #757575;
    font-size: 18px;
    padding: 10px 0px;
    border-bottom: solid 1px #f5f5f5;
    font-weight: 400;
}
.your_qbank .subject_listing ul li span.select{
    float: right;
    color: #212121;
    font-weight: 500;
}
.your_qbank .book_sec{
    text-align: center;
    margin: 40px 0px 0px;
}
.your_qbank .book_sec img{
  width: 300px;
}
.your_qbank .book_sec h3{
    color: #212121;
    font-size: 18px;
    margin: 10px 0px 8px;
    font-weight: 500;
}
.your_qbank .book_sec p{
    color: #757575;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 2px;
}
.your_qbank .book_sec h4{
    color: #757575;
    font-size: 15px;
    font-weight: 400;
}
.your_qbank .button_group{
    text-align: center; 
}
.your_qbank .button_group button.btn {
    background: #0096FF;
    color: #fff;
    font-size: 14px;
    padding: 10px 0px;
    margin-top: 20px;
    width: 280px;
}
.your_qbank .button_group button.btn.delete_btn {
    background: #FF1E1E;
    display: block;
    margin: 10% auto 10px;
}


/****** QBank > Customize QBank > My Result **********/

.my_result .qbank_com {
    text-align: center;
}
.my_result .qbank_com img {
    width: 180px;
}
.my_result .qbank_com h4 {
    color: #54B435;
    font-size: 18px;
    font-weight: 400;
    margin: 12px 0px;
}
.my_result .accuracy{
    background: #FAFAFA;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 8px;
    width: 40%;
    margin: 40px auto 30px;
}
.my_result .accuracy ul{
    margin: 0px;
    padding: 0px;
}
.my_result .accuracy ul li{
    display: inline-block;
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    padding: 10px 10px 14px;
}
.my_result .accuracy ul li.percent{
    color: #A31ACB;
    font-size: 18px;
    font-weight: 500;
    float: right;
}


.my_result .btn_group {
    text-align: center;
    margin: 10% 0px 40px;
}
.my_result .btn_group button.btn {
    background: #0096FF;
    border-radius: 4px;
    font-size: 14px;
    padding: 8px 0px;
    margin: 0px 10px;
    width: 160px;
    
}
.my_result .btn_group button.btn.answer {
    background: #F55353;
}





