@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .collapse-box .collapse.show {
        background: none;
    }
}
@media only screen and (min-width: 845px) and (max-width: 991px) {
    .collapse-box .collapse.show {
        background: none;
    }
}

@media only screen and (min-width: 812px) and (max-width: 844px) {
    .collapse-box .collapse.show {
        background: none;
    }
}

@media only screen and (max-width: 768px) {
    .collapse-box .collapse.show {
        background: none;
    }
}

@media only screen and (max-width: 767px) {
    .container {
        max-width: 100% !important;
    }
    .create-poll .poll-option ul.nav.nav-pills {
        justify-content: space-between;
    }
    .create-poll .poll-option .nav-pills .nav-link {
        width: 136px;
        font-size: 12px;
        margin-right: 0px;
    }
    .collapse-box .accordion {
        margin: 10px 0;
    }
    .collapse-box .accordion .item .item-header h2 i {
        font-size: 20px;
        width: 20px;
        height: 20px;
    }
    .collapse-box .accordion .item .item-header h2 button.btn.btn-link {
        font-size: 12px;
        line-height: 20px;
    }
    .collapse-box .accordion .item {
        margin-bottom: 16px;
    }
    .collapse-box .accordion .item .item-header h2 button {
        padding: 10px;
    }

    .create-poll-open label {
        padding: 12px 0px 0px 0;
        font-size: 12px;
    }
    .collapse-box .t-p {
        padding: 10px 16px 0px 18px;
    }
    .create-poll-open input[type=text], select, textarea {
        font-size: 12px;
        padding: 10px 6px;
    }
    .create-poll-open .col-75 {
        width: 100%;
    }
    .collapse-box .create-poll-open textarea.wt-resize {
        font-size: 12px;
    }

    .collapse-box .create-poll-open ::-webkit-scrollbar-track {
        box-shadow: none;
    }

    .collapse-box .create-poll-open .qus-heading {
        margin: 20px 0px 0px 0px;
    }
    .collapse-box .create-poll-open .qus-heading h3 {
        font-size: 16px;
    }
    .create-poll-open .col-70 {
        width: 84%;
        margin-top: 4px;
    }
    .create-poll-open .col-20 {
        width: 14%;
        margin-top: 4px;
    }
    .create-poll-open input[type=radio] {
        width: 16px;
        margin: 0px 0px;
    }

    .collapse-box .create-poll-open .btn-pubres button {
        width: 104px;
        padding: 8px 0px;
        margin: 0px 10px;
        font-size: 12px;
    }
    .collapse-box .poll-open {
        padding: 10px 10px 10px 10px;
    }
    .collapse-box .poll-open .poll-hdng-box .ans-hdng {
        padding: 2px 38px;
    }
    .collapse-box .poll-open .poll-hdng {
        padding: 12px 20px;
    }
    .collapse-box .poll-open .poll-hdng h1 {
        font-size: 12px;
    }
    .collapse-box .poll-open .poll-hdng-box .ans-hdng h1 {
        font-size: 16px;
    }
    .collapse-box .poll-open .poll-hdng-box .option-rw h2 {
        font-size: 13px;
        padding: 8px 18px;
    }
}

@media only screen and (min-width: 740px) and (max-width: 767px) {

    .create-poll .poll-option ul.nav.nav-pills {
        justify-content: flex-start;
    }
    .create-poll .poll-option .nav-pills .nav-link {
        margin-right: 16px;
    }
}

@media only screen and (min-width: 640px) and (max-width: 739px) {
    .create-poll .poll-option ul.nav.nav-pills {
        justify-content: flex-start;
    }
    .create-poll .poll-option .nav-pills .nav-link {
        margin-right: 16px;
    }
}

@media only screen and (min-width: 568px) and (max-width: 639px) {
    .create-poll .poll-option ul.nav.nav-pills {
        justify-content: flex-start;
    }
    .create-poll .poll-option .nav-pills .nav-link {
        margin-right: 16px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 567px) {
    .create-poll .poll-option ul.nav.nav-pills {
        justify-content: flex-start;
    }
    .create-poll .poll-option .nav-pills .nav-link {
        margin-right: 16px;
    }
}

@media only screen and (min-width: 391px) and (max-width: 414px) {
    .create-poll .poll-option .nav-pills .nav-link {
        width: 180px;
    }
}

@media only screen and (min-width: 375px) and (max-width: 390px) {
    .create-poll .poll-option .nav-pills .nav-link {
        width: 164px;
    }
}

@media only screen and (min-width: 360px) and (max-width: 374px) {
    .create-poll .poll-option .nav-pills .nav-link {
        width: 150px;
    }
}