.logos img{
    width: 50%;
    /* aspect-ratio: 3 / 2; */
    /* object-fit: contain; */
    /* mix-blend-mode: color-burn; */
    border-radius: 100px;
    height: 45px;
    width:45px;
    border: 1px solid #ccc;
}
img.loactionImg{
    border: 1px solid #f5f5f5;
    width: 40%;
    border-radius: 50%;
    background: #fff !important;
}
button.locationbtn{
    background: #0A1850;
    width: 100%;
    color: white;
    padding: 10px 0px;
    height: auto;
    font-size: 15px;
}
button.locationbtn:hover{
    background: #0A1850 !important;
    padding: 10px 0px !important;
    color: white !important;
}

.drawerWidth{
    width: 100% !important;
    background: rgb(238, 238, 238);
    position: absolute;
    margin-top: 80px;
    height: 85vh !important
}


@media only screen and (max-width:767px){
    .drawerWidth{ 
        margin-top: 57px;
    }
}