a.closeIcon{
    font-size: 22px;
    display: flex;
    justify-content: end;
    padding: 0px 10px;
    cursor: pointer;
    color: #f15a22;
    font-weight: 700;
}
  
.new-mega-menu {
    border-bottom: solid 1px #ececec;
    padding: 0px 13px 10px;
    margin-bottom: 0;
}
.new-mega-menu .new-user-profile img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #071952;
}

.new-mega-menu .new-profile-name h1 {
    font-size: 19px;
    margin-bottom: -5px !important;
    font-weight: 500;
    color: #000;
    line-height: 25px;
    margin: 0;
}

.new-mega-menu .new-profile-name {
    margin: 0px 0px 0px -30px;
}

.new-mega-menu .new-profile-name h2 {
    font-size: 12px !important;
    margin-bottom: 0px;
    line-height: 30px;
    color: #000;
    font-weight: 500;
}

.new-mega-menu .new-profile-name h3 {
    font-size: 15px;
    margin-bottom: 0px;
    color: #071952;
    font-weight: 500;
    line-height: 18px
}


.brdr-btm {
    border-top: solid 1px #ececec;
    padding: 10px 0px;
}

.quick-links {
    margin: 10px 10px;
}

.quick-links .quick-links-txt h2 {
    font-size: 16px !important;
    font-weight: 700;
    margin-bottom: 10px;
    margin-left: 10px;
    color: #000000d1;
    line-height: 25px;
}

.quick-links .quick-links-box ul {
    list-style: none;
    padding: 0;
    margin-left: 0px;
    margin-bottom: 0;
}

.quick-links .quick-links-box ul li {
    margin: 0px 0 16px 9px !important;
    width: 108px;
    height: 86px;
    display: inline-grid !important;
    text-align: center;
}


.quick-links .quick-links-box ul li a {
    color: #595959;
    border-radius: 15px;
    border: 1px solid #eee;
    padding: 6px 8px;
    box-shadow: 0 0 13px rgb(0 0 0 / 8%);
    font-size: 14px;
    align-items: center;
    justify-content: center;
    display: grid;
    background: #fff;
    /* background-image: linear-gradient(#fff3e0, #fff); */
}

.quick-links .quick-links-box ul li a img {
    display: block !important;
    margin: auto !important;
    width: 26px !important;
    height: 26px;
}


.quick-links .quick-links-box ul li a span {
    font-size: 12px;
    font-weight: 500;
}


.errow-div {
    margin: 5px 0px;
}

.errow-box .errow-div ul {
    list-style: none;
    padding: 0;
    margin-left: 0px;
}

.errow-box .errow-div ul li {
    margin: 6px 0 9px 9px;
    width: 108px;
    height: 86px;
    display: inline-grid;
}

.errow-box .errow-div ul li a {
    color: #595959;
    border-radius: 15px;
    /* border: 1px solid #d4d4d4; */
    padding: 6px 8px;
    box-shadow: 0 0 13px rgb(0 0 0 / 16%);
    font-size: 14px;
    display: grid;
    min-height: 80px;
    background: #fff;
    /* background-image: linear-gradient(#fff3e0, #fff); */
}
.errow-box .errow-div ul li a img {
    display: block !important;
    margin: auto !important;
    width: 35px !important;
}

.errow-box .errow-div ul li a span {
    font-size: 12px;
    font-weight: 500;
    margin-top: 6px;
}

.fafa-scnd {
    font-size: 14px !important;
    float: right;
    margin-top: -6px !important;
}

.app-set-a {
    margin: -25px 16px 0px;
}

.app-set .log-btn button {
    border-radius: 100px;
    border: 1px solid #071952;
    box-shadow: 0 0 13px rgb(0 0 0 / 16%);
    font-size: 14px;
    display: block;
    padding: 12px 10px;
    margin: 20px 0px;
    text-align: center;
    font-weight: 600;
    margin-top: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    color: #fff;
    background: #071952;
    
}

.search_input_login {
    width: 270px;
}

.search_icon {
    float: right;
    border-radius: 50%;
}

.search_input {
    color: #095fb6;
}

.searchbar:hover>.search_icon {
    background: none;
    color: #095fb6;
}

.search_input::placeholder {
    color: #095fb6;
}

.searchbar {
     background-color: #2e90cf1a;
     border-radius: 25px;
     border: 0px solid #d8dadc;
}

.text-blue {
    color: #095fb6!important;
}

body {
    background-color: #e8e8e8;
}

.price {
    /* display: flex;wf */
    text-align: left;
}
.index-btn {
    width: 49%;
}

#output {
    width: 100%;
    height: 500px;
    border: 2px solid #3d9bf3;
    border-radius: 5px;
    background: #fff;
}

.slider .owl-nav {
    margin-top: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.slider .owl-nav .owl-next,
.slider .owl-nav .owl-prev {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    background: transparent !important;
    color: #298ee2 !important;
}

.slider .owl-nav .owl-next {
    right: -25px;
}

.slider .owl-nav .owl-prev {
    left: -25px;
}

.w-100 {
    width: 100%
}

.sidenav {
    height: 84vh;
    width: 0px;
    position: fixed;
    top: 74px;
    right: 0;
    z-index: 999999;
    background-color: #fff3e0;
    overflow-x: hidden;
    transition: .5s;
    padding-top: 0;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.profile-bx {
    background: #fff;
    border-radius: 5px;
    border: 0!important;
}

.btn {
    background: #095fb6;
    border-radius: 25px;
}

button>.right {
    float: right;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: relative;
    right: -10px;
}

button>.left {
    float: left;
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
    position: relative;
    left: -10px;
}

.loader {
    display: none;
}

.btn {
    background: #095fb6;
    border-radius: 25px;
}

.support {
    text-align: center;
}

/* Model Pop up css */


.trending_search {
    width: 315px;
    margin: 0 auto;
    border-radius: 0px 0px 15px 15px;
}

.price span.spammix {
    font-size: 13px;
}

/* Begin: New profile section add */

.profile_complete{
 border: 1px solid #dddddd73;
 background-color: #fff;
 box-shadow: rgba(0, 0, 0, 0.1) 2px 3px 5px;
 padding: 10px 0px;
 margin: 10px 13px 15px;
 border-radius: 8px;
 max-width: 100%;
}

.profile_complete .textbg {
     margin-left: -20px;
     margin-top: 6px;
 }
 .profile_complete .textbg h3{
     font-size: 13px;
     line-height: 19px;
 }

.profile_complete button.btn{
     width: auto;
     font-size: 12px;
     border-radius: 4px;
     background: #4dc24721;
     color: #4dc247;
     font-weight: 500;
     margin-left: -15px;
     padding: 9px 10px;
     margin-top: 6px;
     line-height: 20px;
 }
 .profile_complete a.profile_close{
     background: #4dc247;
     right: 10px;
     top: -26px;
     position: absolute;
     width: 20px;
     height: 20px;
     display: inline-block;
     text-align: center;
     font-size: 15px;
     opacity: 1;
     color: #fff;
     z-index: 999;
     padding: 0px;
}
.profile_complete .progress {
     width: 50px;
     height: 50px;
     font-size: 16px;
     color: #000;
     border-radius: 50%;
     overflow: hidden;
     position: relative;
     background: #eee;
     text-align: center;
     line-height: 50px;
     margin: 0 0px 0 12px;
     padding: 0px 11px;
     font-weight: 500;
 }

.profile_complete .progress::after {content: "%";}

.profile_complete .progress .title {position: relative;z-index: 100;}

.profile_complete .progress .overlay {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: #eee;
}

.profile_complete .progress .left, .progress .right {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 5px solid #4dc247;
    border-radius: 100px 0px 0px 100px;
    border-right: 0;
    transform-origin: right;
}

.profile_complete .progress .left {animation: load1 1s linear forwards;}

.profile_complete .progress:nth-of-type(2) .right, .progress:nth-of-type(3) .right {animation: load2 .5s linear forwards 1s;}

.profile_complete .progress:last-of-type .right, .progress:first-of-type .right {animation: load3 .8s linear forwards 1s;}

.profile_complete .circlechart {
    margin-left: 11px;
}
.profile_complete .circle-chart {
    width: 45px;
    height: 45px;
}

.profile_complete .circle-chart__circle {
    stroke: #4dc247;
    stroke-width: 2;
    stroke-linecap: square;
    fill: #fff;
    animation: circle-chart-fill 2s reverse; 
    transform: rotate(-90deg); 
    transform-origin: center; 
}
.profile_complete .circle-chart__circle--negative {
    transform: rotate(-90deg) scale(1,-1); 
}

.profile_complete .circle-chart__info {
    animation: circle-chart-appear 2s forwards;
    opacity: 0;
    transform: translateY(0.3em);
}

.profile_complete .circle-chart__percent {
    vertical-align: baseline;
    text-anchor: middle;
    font-size: 9px;
    font-weight: 600;
}

.profile_complete .circle-chart__subline {
   text-anchor: middle;
}

@keyframes load1 {
0% {transform: rotate(0deg);}

100% {transform: rotate(180deg);}
}

@keyframes load2 {
0% {z-index: 100;transform: rotate(180deg);}

100% {z-index: 100;transform: rotate(270deg);}
}

@keyframes load3 {
0% {z-index: 100;transform: rotate(180deg);}

100% {
    z-index: 100;transform: rotate(315deg);}
}

.college-detail {
    padding: 20px 25px;
    width: 360px;
    margin: 0 auto;
    border: 1px solid #dddddd5e;
    border-radius: 10px;
    background: #fff;
}
.college-detail h2{
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 500;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.college-detail  label {
    display: inline-block;
    margin-bottom:0rem;
    font-size: 12px;
    font-weight: 500;
    color: #797979;
}
.college-detail .form-group {
    margin-bottom: 20px;
}

.college-detail em{
    font-size: 15px;
    color: #0a090969;
    margin-right: 6px;
}
.college-detail .btn.subbtn {
    background: #41a6fb;
    color: #fff;
    padding: 10px 20px;
    width: 100%;
    margin-top: 35px;
    border-radius: 7px;
}
.college-detail .form-control {
    border-bottom: 1px solid #dadddf !important;
    font-size: 13px;
    font-weight: 500;
    color: #5e5f5f;
    border: 0px;
    border-radius: 0px;
    padding: 0 20px;
}
.college-detail  .circle-chart__background {
    stroke: #efefef;
    stroke-width: 2;
    fill: none; 
}

@keyframes circle-chart-fill {
 to { stroke-dasharray: 0 100; }
}

@keyframes circle-chart-appear {
 to {
   opacity: 1;
   transform: translateY(0);
 }
}


.profile_complete .skills{
    color: black;
}

.profile_complete .skills_section{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 80px;
}

.profile_complete .skill-head{
    margin: 80px 0;
}

.profile_complete .skill-head h1{
    font-size: 60px;
    font-weight: 700;
}


.profile_complete .skill-head p{
    margin-bottom: 10px;
}

.profile_complete .skills-area {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
}

.profile_complete  .single-skill {
    width: 25%;
    margin-bottom: 80px;
}

.college-detail .success-stroke {
    stroke: rgb(129, 86, 252);
}

.profile_complete  .circle-chart__background {
    stroke: #ede4e4;
    stroke-width: 1;
}


/* End: New profile section add */


@media only screen and (max-width:1400px) {
    .sidenav {
        top: 50px;
    }
    
    .quick-links .quick-links-box ul li {
        height: 85px;
    }

    .errow-box .errow-div ul li a img {
        width: 30px !important;
    }
}

@media only screen and (min-width:1330px) and (max-width:1399px){
    .sidenav {
        top: 74px !important;
    }
}

@media only screen and (min-width:1200px) and (max-width:1329px) {
    .sidenav {
        top: 74px !important;
    }
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .sidenav {
        top: 74px !important;
    }
    .wpicon{
        width: 22px;
        height: 22px;   
        padding: 0px 4px;
    }
    .marloc {
        margin: 20px 0px !important;
    }
    .call{
        padding: 5px 5px;
    }
    img.help-img-a {
        width: 27px;
        height: 27px;
    }

}

@media only screen and (min-width:768px) and (max-width:991px){
    .sidenav {
        top: 75px;
    }
    .sidenav a{
        padding: 0 10px !important;
    }
    .quick-links .quick-links-box ul li {
        margin: 0px 0px 10px 5px !important;
        width: 30% !important;
        height: 80px;
    }
    .errow-box .errow-div ul li {
        margin: 0px 0px 10px 5px !important;
        width: 30% !important;
        height: 80px;
    }
}

@media only screen and (max-width:767px) {
    .quick-links .quick-links-box ul li a img {
        width: 22px !important;
        height: 22px;
    }
    .sidenav {
        top: 48px!important;
    }
    .new-user-profile {
        margin: 0px 0px;
        margin-left: 0px;
    }

    .quick-links {
        margin: 10px 0px 0px 15px !important;
    }
    .errow-box {
        margin: 0px 0px 0 15px;
    }
    .new-mega-menu .new-profile-name h2 {
        line-height: 24px;
    }
    .new-mega-menu .new-user-profile img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        margin-top: 14px;
    }
    .profile_complete .circlechart {
        margin-left: 15px!important;
        margin-top: 7px!important;
    }
    .profile_complete .circle-chart {
        width: 35px !important;
        height: 35px !important;
    }
    .profile_complete .textbg h3 {
        font-size: 11px !important;
        line-height: 18px !important;
    }
    .profile_complete button.btn{
        font-size: 11px!important;
        margin-left: -16px!important;
        padding: 5px 4px!important;
        margin-top: 8px!important;
    }
    
    .new-mega-menu .new-profile-name {
        margin: 0px 0px;
    }
    .new-mega-menu .new-profile-name h1 {
        margin-bottom: -5px !important;
        font-size: 13px;
    }
    
    .quick-links .quick-links-txt h2 {
        margin-bottom: 5px;
        font-size: 13px !important;
        margin-left: 0px;
    }
    
    .quick-links .quick-links-box ul li {
        margin: 0px 10px 10px 0px !important;
        width: 30% !important;
        height: 75px;
    }
    .quick-links .quick-links-box ul li a{
        font-size: 13px;
    }
    .quick-links .quick-links-box ul li a span {
        font-size: 11px;
        line-height: 15px;
    }
    .errow-box .errow-div ul li {
        margin: 6px 0 9px 7px;
        width: 88px !important;
        height: 80px;
    }
    .errow-box .errow-div ul li a span {
        font-size: 11px;
        line-height: 13px;
        text-align: center;
    }
    
    .errow-box .errow-div ul li a {
        padding: 6px 6px;
    }
    .fafa-scnd {
        font-size: 10px !important;
    }
    .errow-box .errow-div ul li a img {
        width: 30px !important;
    }
   
    .app-set .log-btn a {
        padding: 8px 10px;
        margin: 20px 10px 0 25px;
        border-radius: 10px;
    }
  
    .app-set .log-btn button {
        font-size: 12px;
        padding: 9px 10px;
        margin-bottom: 40px;
    }
    .w-340 {
        width: 90% !important;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    }

}


@media only screen and (min-width:568px) and (max-width:766px){
    .w-340 {
        width: 65% !important;
    }
}
@media only screen and (min-width:320px) and (max-width:359px){
    .quick-links .quick-links-box ul li {
        width: 29% !important;
        height: 65px!important;
    }
    .quick-links .quick-links-box ul li a img {
        width: 20px !important;
        height: 20px;
    }
}



