@media(min-width:1366px) {
    .filter,
    #mobile-filter {
        display: none
    }
}

@media(max-width:1366px) {
    #sidebar h6.font-weight-bold {
        font-size: 14px;
    }
    .course-section h4 {
        font-size: 16px;
    }

}

@media(min-width:1199px) and (max-width:1365px) {
    .filter,
    #mobile-filter {
        display: none
    }
}

@media (max-width:1024px) {
    #sidebar h6.font-weight-bold {
        font-size: 14px;
    }
    .course-section h4 {
        font-size: 16px;
    }
   
    .section-sp1 .coursebtn {
        margin-top: -26px;
    }
  
}

@media (max-width:768px) {
    #sidebar h6.font-weight-bold {
        font-size: 14px;
    }
    .course-section h4 {
        font-size: 16px;
    }
   
    .cours-star li.active {
        font-size: 9px;
    }
}

@media(min-width:767px) and (max-width:1199px) {
    .filter,
    #mobile-filter {
        display: none
    }
}

@media (max-width:767px) {
    /****Slider Start**********/
    .collapse.show {
        background: none;
    }
    .carousel-control-next,
    .carousel-control-prev {
        display: none;
    }
    .v-slider .caption h1,
    h3 {
        font-size: 26px;
    }
    .v-slider .carousel-inner {
        padding-top: 30%;
    }
    .v-slider .carousel-indicators li {
        width: 5px;
        height: 5px;
    }
    .v-slider .carousel-indicators .active {
        width: 12px;
        height: 5px;
    }
    /****Filter btn Start**********/
    .txt-none {
        display: none;
    }
    .filter {
        margin-left: 70%;
        margin-top: 6%;
    }
    .btnn {
        border: none;
        font-size: 14px;
        padding: 4px 12px;
        background-color: #1976d2;
        color: #fff;
    }
    .btnn:hover {
        color: #fff;
        background-color: #b9daef;
    }
    /****Filter Price Box Start**********/
    .flt-pd {
        padding: 0px 14px;
    }
    .course-page {
        padding: 0px 0px;
    }
 
    #mobile-filter h6.font-weight-bold {
        font-size: 12px;
    }
    
    .container {
        max-width: 100% !important;
    }
    .section-area.section-sp1 .tooltip {
        width: 100%;
    }
   
    .cartbtn {
        padding: 4px 5px !important;
        font-size: 7px;
        height: 40px;
    }
  
    .section-area.section-sp1 .tooltip .tooltiptext {
        top: 26px;
        padding: 3px 0px;
        font-size: 9px;
        width: 68px;
    }
    .section-sp1 .coursebtn {
        margin-top: -25px;
        margin-bottom: 4px;
    }
}

@media(min-width:576px) and (max-width:767px) {
    .filter,
    #mobile-filter {
        display: none
    }
    .flt-pd {
        padding: 0px 7px;
    }

    #sidebar h6.font-weight-bold {
        font-size: 12px;
    }
    .course-section h4 {
        font-size: 16px;
    }
    .bbb_viewed_item_one .bbb_viewed_hdng h3 {
        font-size: 14px;
    }
    .bbb_viewed_item_one .bbb_viewed_image {
        width: 95px;
        height: 80px;
    }
    .bbb_viewed .bbb_viewed_price {
        font-size: 15px;
        margin: 12px auto;
        padding: 9px 0px 9px;
    }
    .bbb_viewed_content i.enrollbg {
        font-size: 13px;
        margin: 0 17px;
        padding: 4px 0;
        width: 91px;
    }
    .cours-star li.active {
        font-size: 13px;
    }
    .bbb_viewed_content .ratingbg {
        margin-top: 1px;
        padding: 1px 4px;
        font-size: 12px;
    }
    .cartbtn {
        padding: 4px 5px !important;
        font-size: 13px;
    }
    .bbb_viewed_item_one {
        min-height: 254px !important;
    }
    .bbb_viewed_item_one .bbb_viewed_price span {
        font-size: 13px;
    }
    .bbb_viewed_content {
        width: auto;
    }
}

@media(max-width:575px) {
    /****Filter Start****/
    #sidebar {
        display: none;
    }
    .filter {
        margin-left: 84%;
        margin-top: 6%
    }
    #sorting,
    #res {
        font-size: 12px;
        margin-top: 2%
    }
}

@media only screen and (min-width:480px) and (max-width:566px) {
    .cartbtn {
        font-size: 11px;
    }
    .cours-star li.active {
        font-size: 11px;
    }
}

@media(max-width:480px) {
    /****Filter Start****/
    #sidebar {
        display: none;
    }
    .filter {
        margin-left: 80%;
        margin-top: 6%
    }
}

@media(max-width:425px) {
    /****Filter Start****/
    #sidebar {
        display: none;
    }
    .filter {
        margin-left: 78%;
        margin-top: 6%
    }
}

@media(max-width:414px) {
    /****Filter Start****/
    #sidebar {
        display: none;
    }
    .filter {
        margin-left: 78%;
        margin-top: 6%
    }
}

@media(max-width:390px) {
    /****Filter Start****/
    #sidebar {
        display: none;
    }
    .filter {
        margin-left: 76%;
        margin-top: 6%
    }
}

@media(max-width:375px) {
    /****Filter Start****/
    #sidebar {
        display: none;
    }
    .filter {
        margin-left: 76%;
        margin-top: 6%
    }
}

@media(max-width:360px) {
    /****Filter Start****/
    #sidebar {
        display: none;
    }
    .filter {
        margin-left: 74%;
        margin-top: 6%
    }
    .bbb_viewed_content i.enrollbg {
        margin: 0 31px;
    }
}

@media(max-width:320px) {
    /****Filter Start****/
    #sidebar {
        display: none;
    }
    .filter {
        margin-left: 72%;
        margin-top: 6%
    }
}