.container.custom-cont {
    max-width: 1200px;
}

.form-card .challenge-text {
    padding: 10px 0px;
    width: 992px;
    margin: 0 auto;
}

.form-card .challenge-text h2 {
    font-size: 20px;
    margin-bottom: 0;
}


/*
.form-card .challenge-text .challenge-portion {
    border-radius: 4px;
    background: #61a2f7;
	padding: 50px 0px 50px;
    margin: 20px 0px;
    text-align: center;
    color: #fff;

}*/

.form-card .challenge-text .challenge-portion {
    width: 70%;
    box-shadow: rgb(15 86 179 / 18%) 0px 2px 4px, rgb(15 86 179 / 18%) 0px 4px 8px;
    /* box-shadow: 1px 1px 10px rgb(0 0 0 / 13%); */
    border-radius: 10px;
    padding: 25px 0px;
    margin: 20px auto;
    text-align: center;
    color: #fff;
    border: 1px solid #cadffb;
}

.form-card .challenge-text .challenge-portion.active {
    background: #61a2f7;
    color: #fff;
}

.form-card .challenge-text .challenge-portion.active img {
    filter: invert(1);
}

.form-card .challenge-text .challenge-portion:hover img {
    filter: invert(1);
}

.form-card .challenge-text .challenge-portion:hover p {
    color: #fff;
}

.form-card .challenge-text .challenge-portion.active p {
    color: #fff;
}

.form-card .challenge-text .challenge-portion:hover {
    background: #61a2f7;
    color: #fff;
}

.form-card .challenge-portion img {
    width: 45px;
    min-height: auto;
    filter: invert(0);
}

.form-card .challenge-portion img:hover {
    filter: invert(1);
}

.form-card .challenge-portion p {
    font-size: 18px;
    margin: 0;
    padding: 0;
    margin-top: 17px;
    font-weight: 600;
    color: #000;
}

.form-card .challenge-portion p:hover {
    color: #fff;
}

.multiplecheck #frmCheclAll {
    margin-bottom: 15px;
    width: 100%;
    padding: 4px 0px;
    font-size: 22px;
    color: #000;
    font-weight: 400;
}

.multiplecheck #divCheckAll {
    width: 100%;
    padding: 4px 10px;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
}

.multiplecheck .divCheckboxItem {
    padding: 13px 15px 13px 15px;
    width: 95%;
    margin: 16px auto;
    box-shadow: 1px 1px 4px rgb(0 0 0 / 13%);
    border-radius: 8px;
    background-color: #ffffff;
    text-align: left;
    font-size: 20px !important;
}

.multiplecheck .divCheckboxItem:hover {
    color: #0075ff;
    background: #0075ff14;
}

.multiplecheck #divCheckAll input[type="checkbox"] {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 28px;
}

.multiplecheck .divCheckboxItem input[type="checkbox"] {
    display: inline-block;
    float: right;
    width: 30px;
    height: 30px;
    margin-top: 6px;
}

.multiplecheck #divCheckAll input[type="radio"] {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 28px;
}

.multiplecheck .divCheckboxItem input[type="radio"] {
    display: inline-block;
    float: right;
    width: 25px!important;
    height: 25px!important;
    min-height: 30px!important;
    margin: 0px 0px!important;
    margin-top: 6px;
}

.multiplecheck .divCheckboxItem span img {
    width: 30px;
    margin-right: 25px;
}

* {
    margin: 0;
    padding: 0
}

#msform {
    text-align: center;
    position: relative;
}

#msform fieldset {
    margin-top: 0px;
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform input,
#msform textarea {
    padding: 0px 8px 4px 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    margin: 7px 0px;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    color: #2C3E50;
}

input[type='checkbox'] {
    min-height: 18px;
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    font-weight: bold;
    border-bottom: 2px solid skyblue;
    outline-width: 0
}

#msform .action-button {
    width: 160px;
    background: #61a2f7;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 13%)!important;
    font-weight: 700;
    color: white;
    border: 0 none;
    padding: 8px 15px;
    margin: 5px 5px 5px;
    border-radius: 2px;
    height: auto !important;
}

#msform .action-button:hover,
#msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue
}

#msform .action-button-previous {
    width: 160px;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 13%)!important;
    background: #616161;
    font-weight: bold;
    color: #fff;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 8px 15px;
    margin: 5px 5px 5px;
    border-radius: 2px;
    height: auto;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #616161
}

select.list-dt {
    border: none;
    outline: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 5px 3px 5px;
    margin: 2px
}

select.list-dt:focus {
    border-bottom: 2px solid skyblue
}

.card {
    z-index: 0;
    border: none;
    margin-bottom: 45px;
}

.fs-title {
    font-size: 25px;
    color: #2C3E50;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #000000
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 25%;
    float: left;
    position: relative
}

#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f023"
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007"
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f09d"
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c"
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: skyblue
}

.radio-group {
    position: relative;
    margin-bottom: 25px
}

.radio {
    display: inline-block;
    width: 204;
    height: 104;
    border-radius: 0;
    background: lightblue;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    cursor: pointer;
    margin: 8px 2px
}

.radio:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3)
}

.radio.selected {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1)
}

.fit-image {
    width: 100%;
    object-fit: cover;
}

@media only screen and (max-width:767px) {
    .form-card .challenge-text h2 {
        font-size: 16px;
    }
    .form-card .challenge-text {
        padding: 15px 0px;
        margin: 0 0%;
    }
    .form-card .challenge-text .challenge-portion {
        padding: 20px 0px 20px;
        margin: 12px 0px;
    }
    .form-card .challenge-portion img {
        width: 50px;
        min-height: 33px;
    }
    .multiplecheck #divCheckAll {
        font-size: 15px;
    }
    #msform input,
    #msform textarea {
        width: 15px;
    }
    .multiplecheck .divCheckboxItem {
        font-size: 14px;
        margin: 8px 0;
    }
}