.About {
    /* background: #ffff url(../images/background-bg.svg);  */
}

.aboutBanner{
    width: 100%;
    float: left;
    background-image:url(https://d2enu63wt1sf3u.cloudfront.net/react_emed_web/conatcbg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0px;
    height: auto;
    padding: 15px 40px;
    border-left: 16px solid #F16136;
}

.About .commanColor {
    position: absolute;
    background: #FDEDE8;
    top: 0px;
    width: 500px;
    height: 300px;
    right: 0;
    z-index: -1;
}
.aboutBanner img{
    max-width: 100%;
    width: 320px;
}
.aboutBanner .aboutCont {
    display: flex;
    align-items: center;
    justify-content: center;
}

.About .aboutBanner h1 {
    font-size: 30px;
    color: #00A859;
    margin-bottom: 15px;
}
.About .aboutBanner span{
    font-size: 18px;
    color: #212121;
    line-height: 28px;
    font-weight: 600;
}

.About .aboutBanner  p{
    color: #212121;
    line-height: 27px;
    font-size: 16px;
    margin-top: 12px;
    text-align: justify;
    margin-bottom: 0;
    font-weight: 500;
}

.About .about-area h2{
    color: #00A859;
    font-size: 25px;
    margin-bottom: 15px;
}


.aboutText{
    width: 100%;
    float: left;
    margin-top: 50px;
    padding: 50px 50px;
    background: #fff;
    border-radius: 10px;
}

.aboutText p{
    font-size: 15px;
    line-height: 28px;
    color: #212121;
    text-align: justify;
    margin-bottom: 15px;
}
.About .about-area p{
    font-size: 15px;
    line-height: 28px;
    color: #212121;
    text-align: justify;
    margin-bottom: 15px;
}

.about-area.reverse {
    width: 100%;
    float: left;
    margin-top: 50px;
    background: #fff;
    border-radius: 10px;
    padding: 35px 40px;
}
.About .categories-box h2{
    color: #00A859;
    font-size: 25px;
    margin-bottom: 15px;
}

.About .categories-box .mission-img{
    text-align: left;
    }
.About .categories-box .mission-img img {
    max-width: 100%;
    height: 260px;
}

.About .categories-box .abcontent ol {
    padding-left: 1rem;
    margin-top: 15px;
}
.About .categories-box .abcontent ol li{
    margin-bottom: 8px;
    font-size: 15px;
    color: #212121;
}
.About .categories-box .abdirect{
    text-align: right;
}
.About .categories-box .abdirect img {
    max-width: 100%;
    width: 375px;
    margin: 0 auto;
    border-radius: 10px;
    border: 4px solid #f3efef;
}
.About .categories-box img {
    max-width: 100%;
    width: 475px;
    border-radius: 14px;
}

.thumb.weAre {
    text-align: right;
}
.thumb.visionImg{
    text-align: right;
}
.thumb.visionImg img{
    border: 1px solid #eee;
    padding: 20px 20px;
    width: 340px;
}
.thumb.weDo{
    text-align: left;
}
.effort{
    text-align: right; 
}

.video-play-button{
    left: 51%;
    position: absolute;
    top: 42%;
}
.About .about-items .thumb img{
    max-width: 100%;
    width: 350px;
    float: right;
}

@media only screen and (min-width:1200px) and (max-width:1329px){
    .About .aboutBanner h1{
        font-size: 26px;
    }
    .About .commanColor {
        width:300px;
        height: 300px;
    }
    .About .aboutBanner span{
        font-size: 15px;
    }
    .About .aboutBanner p{
        font-size: 14px; 
    }
    .aboutBanner img {
        width: 290px;
    }
    .About .about-area p {
        font-size: 14px;
        line-height: 26px;
    }
    .About .categories-box h2 {
        font-size: 22px;
    }
}


@media only screen and (min-width:992px) and (max-width:1199px){
    .video-play-button {
        top: 24%;
    }
}
@media only screen and (min-width:768px) and (max-width:991px){
    .video-play-button {
        top: 42%;
        left: 52%;
    }
    .aboutBanner{
        padding: 30px 30px;
    }
    .About .aboutBanner h1{
        font-size: 22px;
    }
    .About .aboutBanner span {
        font-size: 15px;
        line-height: 24px;
    }
    .About .aboutBanner p {
        line-height: 26px;
        font-size: 13px;
        text-align: left;
    }
    .aboutText p {
        font-size: 14px;
        line-height: 28px;
    }
    .thumb.weAre {
        text-align: center;
    }
    .thumb.weDo {
        text-align: center;
        margin-bottom: 40px;
    }
    .About .categories-box img {
        width: 400px;
        margin-top: 20px;
        border-radius: 14px;
    }
    .effort {
        text-align: center;
    }
    .effort img {
        text-align: center;
        height: 220px;
    }
    .About .categories-box .mission-img {
        text-align: center;
        margin-bottom: 30px;
    }
    .thumb.visionImg {
        text-align: center;
    }
    .About .categories-box .abdirect {
        text-align: center;
    }

}

@media only screen and (max-width:767px){

    .About .commanColor{
        display: none;
    }
    .aboutBanner{
        padding: 30px 15px;
    }
    .aboutBanner img {
        width: 200px;
        margin-right: 35px;
        margin-top: 25px;
    }
    .aboutText {
        padding: 30px 20px;
    }
    .aboutText p {
        font-size: 13px;
        line-height: 24px;
    }
    .About .aboutBanner h1 {
        font-size: 22px;
    }
    .about-area.reverse {
        margin-top: 25px;
        padding: 35px 20px;
    }
    .About .aboutBanner span {
        font-size: 14px;
        line-height: 20px;
    }
    .About .aboutBanner p {
        line-height: 22px;
        font-size: 13px;
        margin-top: 12px;
    }
    .About .about-items h1{
        font-size: 21px;
    }
    .About .about-items span {
        font-size: 12px;
    }
    .About .about-items p{
        font-size: 12px;
    }
    .About .about-area p {
        font-size: 12px;
        line-height: 22px;
    }
    .About .about-area {
        padding-top: 30px;
    }
    .About .categories-box{
        padding-bottom: 30px; 
    }
    .About .categories-box .thumb{
        text-align: center;
    }
    .About .categories-box .thumb img {
        width: 100%;
        margin-bottom: 15px;
    }
    .About .categories-box h2 {
        font-size: 17px;
        margin-bottom: 15px;
    }

    .About .categories-box .abcontent ol li {
        margin-bottom: 10px;
        font-size: 12px;
    }
    .About .categories-box .mission-img img{
        text-align: center;
        float: none;
        height: auto;
        margin-bottom: 15px !important;
    }
    .About .categories-box .abdirect img{
        width: 100%;
    }
    .video-play-button {
        top: 30%;
    }
    .video-play-button i {
        font-size: 15px;
        bottom: 0px;
        left: -4px;
    }
    .video-play-button:after{
        width: 35px;
        height: 35px;
    }
}
