/* .carousel {
    position: relative;
    width: 80%;
    height: 40vh;
    margin: auto;
    overflow: hidden;
 
  }
   */
  .carousel-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
 .myimg {
    width: 100%;
    height: 50vh;
    aspect-ratio: 4/3;
    /* object-fit: contain; */
    /* display: block; */
    background-size: cover;
  }
  
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
  }
  
  .carousel-button.prev {
    left: 10px;
  }
  
  .carousel-button.next {
    right: 10px;
  }


  .carousel-container {
    width: 100;
    /* max-width: 100%; */
    margin: 0 auto;
  }
  
  .carousel-item img {
    width: 100%;
    height: auto;
  }
  
  .carousel-caption {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
  }
  

.MysaleData{
  width: 1200px;
  margin: 150px auto 50px;
  border-radius: 10px;
  padding: 20px 35px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0;
}
.MysaleData .proData {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.MysaleData .proData .proImg{
  border-radius: 100px;
  width: 70px;
  height: 70px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.MysaleData .proData .proImg img{
  max-width: 100%;
  width: 65px;
}
.MysaleData .proData .proText {
  margin-left: 25px;
}
.MysaleData .proData .proText h3 {
  font-size: 20px;
  margin-bottom: 9px;
  color: #1e90ff;
  font-weight: 700;
}
.MysaleData .proData .proText h4 {
  font-size: 15px;
  margin-bottom: 0px;
  color: #000;
}
.MysaleData .tabbingdata h2{
  font-size: 22px;
  color: #3e3d3d;
  margin-bottom: 24px;
  font-weight: 700;
}
.MysaleData .tabbingdata button{
  font-size: 15px;
  padding: 8px 0;
  height: auto;
  width: 120px;
  text-align: center;
  margin-right: 15px;
  font-weight: 500;
}
.MysaleData .tabbingdata button.ant-btn-primary{
  background: #1677ff;
  color: #fff;
}
.MysaleData .tabbingdata button.ant-btn-default{
    background: #eee;
    border: 1px solid #d9d9d9 !important;
    color: #000;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02) !important;
}
.MysaleData .TotalSales {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.MysaleData .TotalSales .bobContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.MysaleData .TotalSales .comman{
  width: 90%;
  margin: 24px 0px 10px;
  border-radius: 10px;
  height: 115px;
  text-align: center;
  padding-top: 25px;
}
.MysaleData .TotalSales .comman h3{
  font-size: 22px;
  margin-bottom: 5px;
}
.MysaleData .TotalSales .comman p{
  margin: 0;
  font-size: 15px;
  font-weight: 500;
}
.MysaleData .TotalSales h4{
  font-size: 16px;
  color: #727272;
  margin: 0;
}
.MysaleData .TotalSales .boxdata {
    background: #fffac3;
    color: #e7b145;
}
.MysaleData .TotalSales .boxdata1 {
    background: #ffebed;
    color: #b32927;
}
.MysaleData .TotalSales .boxdata2 {
  background: #f3e5f6;
  color: #9a59ad;
}
.MysaleData .TotalSales .boxdata3 {
  background: #e8f6e9;
  color: #367f3a;
}

.MysaleData .chartData {
  width: 768px;
  margin: 50px auto;
}
.MysaleData .chartData h2{
  font-size: 22px;
  color: #3e3d3d;
  margin-bottom: 0px;
  font-weight: 700;
  text-align: center;
}

.MysaleData .salesBanner{
  width: 768px;
  margin: 50px auto;
}
.MysaleData .salesBanner img {
  border-radius: 15px;
  border: 1px solid #eee;
  margin-bottom: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  max-width: 100%;
}

.OpendataTab{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0px;
}
.OpendataTab .innerData {
  border: 1px solid #ddd;
  width: 100%;
  margin-right: 15px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px 0px;
}
.OpendataTab .innerData img{
  max-width: 100%;
  margin-bottom: 10px;
  width: auto;
  height: 50px;
}
.OpendataTab .innerData p{
  font-size: 15px;
  margin: 0px;
  font-weight: 500;
  text-transform: capitalize;
}

.openQrData{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.openQrData img {
  max-width: 100%;
  border-radius: 100px;
  width: 80px;
  height: 80px;
  padding: 0;
  border: 1px solid #ccc;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.openQrData h3{
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #000;
}

.openQrData p{
  margin: 0;
  color: #3e8dd8;
}

.formInputData{
  width: 100%;
}

.netsaleData{
    border-radius: 5px;
    background: lightblue;
    width: 40%;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



@media only screen and (min-width:992px) and (max-width:1199px){
  .MysaleData{
    width: 100%;
  }
  .MysaleData .chartData{
    width: 100%;
  }

}
@media only screen and (min-width:768px) and (max-width:991px){
  .MysaleData{
    width: 100%;
  }
  .MysaleData .chartData{
    width: 100%;
  }
  .MysaleData .salesBanner{
    width: 100%;
  }
  .OpendataTab .innerData img {
    height: 35px;
  }
  .OpendataTab .innerData p{
    font-size: 13px;
  }
}

@media only screen and (max-width:767px){
  .MysaleData{
    width: 100%;
    margin: 75px auto 50px;
    border-radius: 10px;
    padding: 15px 15px
  }
  .MysaleData .chartData{
    width: 100%;
  }
  .MysaleData .salesBanner{
    width: 100%;
    margin: 20px auto;
  }
  .MysaleData .proData .proText h3{
    font-size: 15px;
    margin-bottom: 6px;
  }
  .MysaleData .proData .proText h4 {
    font-size: 13px;
  }
  .MysaleData .tabbingdata h2 {
    font-size: 16px;
    margin-bottom: 13px;
  }
  .MysaleData .tabbingdata button {
    font-size: 12px;
    padding: 5px 0;
    width: 62px;
    margin-right: 6px;
  }
  .MysaleData .TotalSales .comman h3 {
    font-size: 16px;
    margin-bottom: 4px;
  }
  .MysaleData .TotalSales .comman p {
    font-size: 12px;
  }
  .MysaleData .TotalSales .comman{
    height: 100px;
  }
  .MysaleData .TotalSales h4 {
    font-size: 9px;
  }
  .MysaleData .chartData h2{
    font-size: 18px;
  }
  .OpendataTab{
    white-space: nowrap;
    flex-wrap: initial;
    overflow: auto;
    scrollbar-width: none;
  }
  .OpendataTab .innerData{
    padding: 15px 15px;
    min-width: 100px;
  }
  .OpendataTab .innerData img {
    margin-bottom: 4px;
    width: 30px;
    height: 30px;
  }
  .OpendataTab .innerData p {
    font-size: 12px;
  }
}


